
.super-banner{
	position: relative;
	overflow: hidden;


	.form-section{
		position: absolute;
		width:100%;
		top: 25%;
	    margin: 0 auto;
		.middle-form{
			background-color:#ddddddba;
			border:2px solid #b5b3b3;
			min-height:132px;
			border-radius:5px;
			.top{
				background:url("../images/form-top-bg.jpg");width:100%; padding: 9px 6px; background-repeat-x: repeat;    border-radius: 5px;

				p{
					position: relative;padding-left:25px;
					&:before{
						position: absolute;content:"\e918";left:-3px;display:block;font-family:icomoon;font-size: 26px;top: -8px;color: #ea4821;
					}
				}
				ul{
					float:right;    padding-right: 10px;
					li{
						padding:0px 14px;
						border-right: 1px solid #10334c;
						border-left: 1px solid #2a78ae;
					    line-height: 1;

						a{
							color:#fff;
							font-size:12px;
							padding: 4px 10px;
						    
							&:hover{
								background-color: #206494;
								border-radius: 5px;
							}
						}
						&:first-child{
							padding-left:0px;
							border-left:none;
						}
						&:last-child{
							padding-right:0px;
							border-right:none;
						}
					}
				}
			}
		}
	}
	.main-slider{
		 .slick-dots li{top:-40px;margin: 0 3px;width: 12px;height: 12px;}
		 .slick-dots li button{background-color:transparent;border:1px solid #fff;border-radius: 50%; height: 12px;width: 12px;}
		 .slick-dots li button:before{content:'';}
		 .slick-dots li.slick-active button:before{background-color:#ef4523;border:1px solid #ef4523;border-radius:50%;opacity:1;height: 10px;width: 10px;top:1px;left:1px;}

	}
}

.hero-banner{
	    height: 480px;
	    background-size: cover !important;
	    width: 100%;
	    display: table;
	    background-position: top center !important;
        border-top: 15px solid #f6f6f6;

        &.small{
        	height: 110px;
        	background-position-y: 80% !important;
        }
	    @media (max-width:767px) {
	    	height: 500px;

	    }
	    .right{
	    	box-shadow:0px 30px 70px -20px #000000ba;
	    }
}
.hero-inner-banner{
	    height: 354px;
	    background-size: cover !important;
	    width: 100%;
	    display: table;
	    background-position: top center !important;
	    @media (max-width:767px) {
	    	background-position:left !important;
	    }
	    .heading{
	    	font-size:45px;
	    	margin-top: 18%;
    	    position: relative;
    	    display:inline-block;

    	    &:after{
    	    	position: absolute;
    	    	display:block;
    	    	content:'';
    	    	background-color:#ed1b24;
    	    	width:55%;
    	    	height:1px;
    	    	left:0;
    	    	bottom:2px;
    	    }
    	    &:before{
    	    	position: absolute;
    	    	display:block;
    	    	content:'';
    	    	background-color:#ed1b24;
    	    	width:15%;
    	    	height:5px;
    	    	left:0;
    	    	bottom:0px;
    	    }
	    }
}

.second-tip{
	background-color:#edeff2;
	position: relative;
	&:after{
		position: absolute;
		display:block;
		content:'';
		background:url(../images/row-bg.jpg);
		height:6px;
		width:100%;
		margin-top:5px;
		background-position: top center;
		background-position-x: 60%;
	}
	.main{
		background-size:cover !important;
		background-repeat:no-repeat  !important;
	    height: 69px;
	    padding: 12px 0px;
		margin-bottom: -15px;
		position: relative;
		top: -30px;

	}

	.blue-strip{
		li{
			text-align:center;
			border-right: 1px dashed #5a5a5a;
			
			h2{
				color:#002768;
				font-size:60px;
				line-height: 0.8;

				span{
					font-size:20px;
					color:#5a5a5a;
					font-weight: 400;
					text-transform: uppercase;
					position: relative;
					top: -14px;

				}
			}
			&:last-child{
				border-right: none;
			}
		}
	}
}


.second-banner{
	// background:url('../images/bg-right-main.png');background-repeat:no-repeat;background-position:top right;background-color:#f6f6f6;
	&.buy{
		    background-position-x: 130%;

		.container{
			@media (min-width:1200px) {
				width: 1200px;
				max-width: 100%;
			}

			@media (max-width:992px) {
				width: 95%;
				max-width: 100%;
			}
		}
	}

}
.heading-main{
		position: relative;
		// padding-left: 5px;
		padding-right: 15px;
		z-index: 10;
		margin-bottom: 15px;
		&:after{
			position: absolute;
			right:0px;
			content:'';
			display:block;
			background:url('../images/heading-after.png');
			background-repeat:no-repeat;
			width:38%;
			height:10px;
			top: 0;
			bottom: 0;
			margin: auto;

		}
		@media (max-width:900px) {
			&:after{
				display: none;	
			}
		}
		// &:before{
		// 	content:'';
		// 	display:block;
		// 	background:url('../images/heading-before.png');
		// 	background-repeat:no-repeat;
		// 	left:0;
		// 	width:36px;
		// 	height:10px;
		// 	position: absolute;
		// 	top: 0;
		// 	bottom: 0;
		// 	margin: auto;
		// }
		&.main{
			&:after{
				width: 50%;
			    background-repeat-x: repeat;
			}
		}
		&.main-2{
			&:after{
				width: 57%;
			    background-repeat-x: repeat;
			    right:0;
			}
		}
		&.small{
			
			&:after{
				width: 79%;
			    background-repeat-x: repeat;
			}
		}
		&.small-2{	
			&:after{
				width: 73%;
			    background-repeat-x: repeat;
			}
		}
		&.small-3{	
			&:after{
				width: 76%;
			    background-repeat-x: repeat;
			}
		}
		&.small-4{	
			&:after{
				width: 69%;
			    background-repeat-x: repeat;
			}
		}
		&.small-5{	
			&:after{
				width: 71%;
			    background-repeat-x: repeat;
			}
		}
		&.v-small{	
			&:after{
				width: 52%;
			    background-repeat-x: repeat;
			}
		}
		&.d-small{	
			&:after{
				width: 60%;
			    background-repeat-x: repeat;
			}
		}
		&.d-small-2{	
			&:after{
				width: 61%;
			    background-repeat-x: repeat;
			}
		}
		&.d-small-3{	
			&:after{
				width: 62%;
			    background-repeat-x: repeat;
			}
		}
		&.small-6{	
			&:after{
				width: 65%;
				right:0;
			    background-repeat-x: repeat;
			}
		}
		&.large{	
			&:after{
				width: 67%;
				right:0;
			    background-repeat-x: repeat;
			}
		}
		&.blog-he{	
			&:after{
				width: 67%;
				right:0;
			    background-repeat-x: repeat;
			}
		}
		&.abou{
			&:after{
				width: 78%;
			    background-repeat-x: repeat;
			}
		}
		&.abou-1{
			&:after{
				width: 82%;
			    background-repeat-x: repeat;
			}
		}
		&.abou-2{
			&:after{
				width: 80%;
			    background-repeat-x: repeat;
			}
		}
		&.abou-3{
			&:after{
				width: 85%;
			    background-repeat-x: repeat;
			}
		}
		&.abou-4{
			&:after{
				width: 84%;
			    background-repeat-x: repeat;
			}
		}
		&.abou-5{
			&:after{
				width: 87%;
			    background-repeat-x: repeat;
			}
		}
		&.abou-6{
			&:after{
				width: 93%;
			    background-repeat-x: repeat;
			}
		}
	}
.find-property-city{
	background-color: #f6f6f6;
	padding-bottom: 60px;
	.first{
		li{
			position: relative;
			&:first-child{
			border-right:3px solid #fff;
			border-bottom:3px solid #fff;
			}
			&:last-child{
			border-right:2px solid #fff;
			}
			p{
				position: absolute;
				bottom: 10px;
				color: #fff;
				font-size: 18px;
				font-weight: 500;
				left: 15px;

			}
			.detail-btn{
				z-index: 12;
			    padding: 4px 12px;
			    border: 1px solid #ef4523;
			    color: #fff;
			    position: absolute;
			    bottom: 12px;
			    right: 20px;
			    font-size:12px;
			    border-radius: 5px;
			    font-weight: 600;
			    &:hover{
			    	background-color:#fff;
			    	color:#ef4523;
			    	border:1px solid transparent;
			    }
			}
		}

	}
	.second{
		li{
			position: relative;
			&:first-child{
			border-right:3px solid #fff;
			}
			p{
				position: absolute;
				bottom: 15px;
				color: #fff;
				font-size: 18px;
				font-weight: 500;
				left: 15px;
				
				line-height:1.2;

			}
			.detail-btn{
				z-index: 12;
			    padding: 4px 12px;
			    border: 1px solid #ef4523;
			    color: #fff;
			    position: absolute;
			    bottom: 20px;
			    right: 15px;
			    font-size:12px;
			    border-radius: 5px;
			    font-weight: 600;
			    &:hover{
			    	background-color:#fff;
			    	color:#ef4523;
			    	border:1px solid transparent;
			    }
			}	
			
		}
	}
	ul{
		li{
			float:left;
			a{
				
				img{
					display:block;
					float:left;
				}
			}
		}
	}
}

.contactbg{
	background-repeat: no-repeat !important;
	background-position: center bottom !important;
	background-size: contain !important;
}
.login-main{
	background-size:cover !important;
	background-position:center !important;
	background-repeat:no-repeat !important;
	height:760px;
	width:100%;
	display:table;
	padding: 8% 0px;
	.small{
		background-size:contain !important;
		background-repeat:no-repeat !important;
		height: 534px;
		box-shadow: 0px 0px 70px 5px #000;
		border-radius: 3px;
		width: 100%;
	}
}