.property-box{
	min-height:395px;
	overflow:hidden;
	border:1px solid #e2e2e2;
	background-color:#fff;
	border-radius:8px;
	border-bottom: 5px solid #ef4524;
	margin-top:15px;margin-right:15px;margin-bottom:30px;
	@include transition(0.5s);
	&:hover{
		box-shadow:0px 0px 30px -7px #ef452378;
		border-bottom: 5px solid #1c5f8f;
		.head{
			.right{
				p{
					background-color:#fff;color:#ef4523;border:1px solid #ef4523;
					&.two{border: 1px solid #073555;background-color: #fff;color: #123e5c;}
				}
			}
		}
	}
	.fs-13{font-size:13px;}
	.head{
		padding: 14px 8px;
		    min-height: 80px;
		.left{
			width:78%;display:inline-block;
		}
		.right{
			width:20%;display:inline-block;
			p{
				height: 48px;width: 48px;  border-radius: 50%;padding-top: 11px;font-size: 12px;margin-top: 5px;
				background-color:#ef4523;border:1px solid transparent;
				&.two{background-color:#073555;}
			}
		}
	}
	.content{
		.para-1{
			padding:10px;
			border-bottom:1px solid #e2e2e2;
			min-height: 80px;
			overflow: hidden;
			overflow-wrap: break-word;
			color:#727171;
		}
		.list1{
			background-color:#f5f5f5;
			border-bottom: 1px solid #e2e2e2;
			li{
				font-size:11px;
				color:#292929;
				border-right:1px solid #e2e2e2;
			    padding-left:25px;
			    position: relative;
			    padding-top: 8px;
		        padding-bottom: 8px;
		        padding-right: 6px;
			    &:before{
		    	    position: absolute;
		    	    content: '';
		    	    display: block;
		    	    font-size: 18px;
		    	    left: 3px;
		    	    top: 3px;
		    	    bottom: 0;
		    	    margin: auto;
		    	    font-family: 'Icomoon';
			    }
			    &:nth-child(1){
			    	
					&:before{
						// background:url('../images/features/size.jpg');
						content:'\e93d';
					}
			    }
			    &:nth-child(2){
			    	&:before{
			    		// background:url('../images/features/bedroom.jpg');	
			    		content:'\e93e';
			    	}	
			    }
			    &:nth-child(3){
			    	border-right:none;
			    	&:before{
			    		// background:url('../images/features/bathroom.jpg');
			    		content:'\e93f';
			    	}
			    }
			}
		}

		
	}
	.foot{
		padding:12px 4px;
			ul{
				li{
					
					a{
						font-size:11px;
					}
					&:nth-child(1){
						a{
							
							span{
								font-size: 14px;
								padding-right: 5px;
								position: relative;
								top: 2px;
							}

						}
					}
					&:nth-child(2){
						a{
							
							span{
								font-size: 14px;
								padding-right: 5px;
								position: relative;
								top: 2px;
							}
						}	
					}
					&:nth-child(3){
						a{
							color:#898989;
							span{
								color:#ef4523;
								font-size: 14px;
								padding-right: 5px;
								position: relative;
								top: 2px;

							}
							&:hover{
								span{
									color:#1c8f4a;
								}
							}
						}
					}
					&:nth-child(4){
						a{
							color:#1c5f8f;
						}
						position: relative;
						padding-left: 8px;
						// border-left:1px solid #e2e2e2;
						
						&:before{
							position: absolute;
							display:block;
							content:'';
							background-color:#eee;
							width:1px;height:55px;
							left:0;
							top:0;
							bottom:0;
							margin: auto;

						}
					}

				}
			}
		}
}

.blog-box{
	position:relative;
	padding: 5px 5px 0px 0px;
	margin-bottom: 15px;
	
	p.head{
		position: absolute;
	    top: 0;
	    right: 0;
	    background-color: #ef4523;
	    color: #fff;
	    font-size: 12px;
	    padding: 8px 8px;
	    line-height: 1;
	    text-align: center;
	    border:1px solid transparent;
	    @include transition(0.6s);
	}
	figure{
		img {width:100%;    box-shadow: 0px 2px 11px 1px #031a2b;}
	}
	.content{
		padding:10px 0px 0px;
		.first{@include transition(0.6s);}
		.second{color:#8cacc2;   line-height: 1.0; padding-top: 5px;}
	}
	&:hover{

		p.head{background-color:#073555;border:1px solid #fff;}
		.content{
			.first{
				color:#ef4523;
			}
		}
	}
}


.desc-box{
	position: relative;
	border-bottom: 1px dotted #a6a6a6;
	padding: 25px 0px;
	li{
		font-size:15px;
	}
	&:last-child{
		border:none;

	}

	.icon{
		position: absolute;
		font-size: 44px;
	    color: #073555;
	    height: 60px;
	    width: 60px;
	    top: 20px;
	    left: 15px;	
		&.two{
			top:35px;
		}
	}
	.detail{
		padding-left:70px;
	}
	&.two{
		padding: 25px 10px;
		border-bottom: 1px dotted #a6a6a6;
		margin-left: 25px;
		&.brdr-no{
			border:none;
		}
		.icon{
			font-size: 50px;
		    color: #073555;
		    height: 60px;
		    width: 60px;
		    top: 20px;
		    left: 15px;	
    	}
		.detail{
			padding-left:70px;
		}
		
	}
}

.room-accom{
	padding: 25px 5px 15px 18px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	.property-box{
		margin-bottom:5px;
	}
	.property-box .foot ul li a{
		font-size:10px;
	}
	.btn-call-small{padding:5px 4px;}
	.btn-email-small{padding:5px 4px;}
	.heading-main:after{width:33%;}
}

.shred-box-b{
		padding: 5px;
	    margin-bottom: 15px;
	    border: 1px solid #e2e2e2;
	    background:#fff;
	    display: inline-flex;
	    border-radius: 5px;

		figure{
			img {border:1px solid #d0d0d0;    display: inline-block;}
		}
		.fs-13{font-size:13px;}
		.move-date{
			padding:10px 0px;
			li{
				span{
					color:#ef4523;font-size:16px;position: relative;top: 2px;margin-right:4px;
				}
				&:last-child{
					margin-left:30px;
				}
			}
		}
		.content{
			display:inline-block;    padding: 12px 20px;
			@media (max-width:1200px) {
				width:65%;
			}
		}
		
		.btn-detail{
			padding:6px 14px;
			width: 160px;
			text-align: center;
		}
		
}

.shred-box-2{
	padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    background:#fff;
    display: inline-flex;
    border-radius: 5px;
	.head{
		position: relative;
		img {border:1px solid #d0d0d0;margin-right: 20px;}
		ul{
			position: absolute;
			background: #00000042;
			width: 100%;
			bottom: 0;
			padding: 8px 0px;
			li{
				padding: 0px 6px;
				a{
					color:#fff;
					span{
						font-size: 16px;
					}
					&:hover{
						color:#ef4523;
					}
				}
				&:first-child{
					padding-left:15px;
				}
				&:last-child{
					float:right;
				}
			}
		}
	}
	
	
	.content{  padding: 10px 5px;
		position: relative;
		.right{
				position: absolute;right: 20px;top: 10px;
				   &.top-right{
						   	position: absolute;
						   	top: 10px;
						   	right: 0px;

							ul{
								padding:0px;margin-bottom:40px;
								li{
									&:first-child{
										p{
											position: relative;
										    top: -7px;    right: 10px;
										}
									}
								}
							}
				   			span{
				   				display: block;
					   			&.tag-1{
									background: url('../images/big-sprite.png') no-repeat -24px -1px;
									width: 22px;
									height: 22px;

					   			}
					   			
						   }
						  
					}
				.added{
					font-size:11px;
				}
			}
		.main{
			width:75%;
			word-wrap:break-word;
			
			
		}

		ul{
			padding-left:20px;
			padding-top:15px;
		}
		.top-text{
			padding-bottom:15px;
			p+p{
				line-height:1;
			}

		}
		.foot{
			.btn-detail{
				&.one{ padding: 6px 24px;  }
				&.two{ padding: 6px 10px;  }
			    
			}
		}

	}
	
	
}


.prop-new-box{
	position:relative;
	overflow:hidden;
	margin-right:15px;
	border-radius:5px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	@include transition(0.5s);
	margin: 5px;
	.top{
		position:relative;
		overflow:hidden;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		min-height:220px;
		padding: 10px 10px 10px 10px;
		&:after{
			position:absolute;
			content:'';
			display:block;
			width:100%;height:100%;
			background: rgba(7,53,85,0.41);
			background: -moz-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,53,85,0.41)), color-stop(14%, rgba(7,53,85,0.41)), color-stop(37%, rgba(7,53,85,0.14)), color-stop(41%, rgba(7,53,85,0.09)), color-stop(49%, rgba(7,53,85,0.09)), color-stop(62%, rgba(7,53,85,0.09)), color-stop(66%, rgba(7,53,85,0.14)), color-stop(93%, rgba(7,53,85,0.49)), color-stop(97%, rgba(7,53,85,0.49)));
			background: -webkit-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -o-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -ms-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: linear-gradient(to bottom, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073555', endColorstr='#073555', GradientType=0 );
			left:0;top:0;z-index:0;
		}
		.ico{
			position: relative;
			z-index:5;
			ul{
				display:inline-block;
				margin-left: 15px;
				position: relative;
				top: 3px;
				li{
					padding:0px 7px;
					&:last-child{
						padding-right:0px;
					}
				}
			}
		}
		.profile{
			position: absolute;
			z-index:5;
			bottom:20px;
			.left{
				position: relative;
				padding-left:55px;
			    float: left;    margin-right: 60px;
				img{
					position: absolute;
					left: 0;
					height: 46px;
					width: 46px;
					border-radius: 50%;
					top: -5px;
				}
			}
		}
	}
	.content{
		padding: 15px 12px;
		border-bottom:1px solid #dcdcdc;

		&.cord{
			position: relative;
			padding-bottom:35px;
			.con-img{
				position: absolute;
				width: 47px;height:47px;
				right: 15px;
			    bottom: 10px;

			}
		}
		
	}
	.bottom{
			.list1{
				
				li{
					font-size:12px;
					color:#828282;
					border-right:1px solid #e2e2e2;
				    padding-left:32px;
				    position: relative;
				    padding-top: 14px;
			        padding-bottom: 14px;
				    &:before{
			    	    position: absolute;
			    	    content: '';
			    	    display: block;
			    	    font-size: 18px;
			    	    left: 10px;
			    	    margin: auto;
			    	    font-family: 'Icomoon';
			    	    line-height:1;
			    	    color:#828282;
				    }
				    &:nth-child(1){
				    	
						&:before{
							// background:url('../images/features/size.jpg');
							content:'\e93d';
						}
				    }
				    &:nth-child(2){
				    	&:before{
				    		// background:url('../images/features/bedroom.jpg');	
				    		content:'\e93e';
				    	}	
				    }
				    &:nth-child(3){
				    	border-right:none;
				    	&:before{
				    		// background:url('../images/features/bathroom.jpg');
				    		content:'\e93f';
				    	}
				    }
				}
			}
	}
	&:hover{
		box-shadow: 0px 0px 10px -1px #f0f0f0;
	}
}


.prop-new-box-2{
	position:relative;
	overflow:hidden;
	
	border-radius:5px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	
	.top{
		position:relative;
		overflow:hidden;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		min-height:220px;
		padding: 10px 10px 10px 10px;
		&:after{
			position:absolute;
			content:'';
			display:block;
			width:100%;height:100%;
			background: rgba(7,53,85,0.41);
			background: -moz-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,53,85,0.41)), color-stop(14%, rgba(7,53,85,0.41)), color-stop(37%, rgba(7,53,85,0.14)), color-stop(41%, rgba(7,53,85,0.09)), color-stop(49%, rgba(7,53,85,0.09)), color-stop(62%, rgba(7,53,85,0.09)), color-stop(66%, rgba(7,53,85,0.14)), color-stop(93%, rgba(7,53,85,0.49)), color-stop(97%, rgba(7,53,85,0.49)));
			background: -webkit-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -o-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -ms-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: linear-gradient(to bottom, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073555', endColorstr='#073555', GradientType=0 );
			left:0;top:0;z-index:0;
		}
		.text{
			position: absolute;
			z-index: 5;
			bottom: 15px;
		}
		
	}
	.content{
		padding: 15px 10px;
		border-bottom:1px solid #dcdcdc;
	}
	.butons{
		a{
			position:relative;
			border: 1px solid transparent;
			span{
				position: absolute;
			    font-size: 24px;
			    top: 0;
			    bottom: 0;
			    margin: 0 auto;
			    line-height: 1.6;
			}
		}
	}
	
	&:hover{
		box-shadow: 0px 0px 10px -1px #f0f0f0;
	}
}


.prop-new-box-3{
	position:relative;
	overflow:hidden;
	
	border-radius:5px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	
	.head{
		position: relative;
		img {border:1px solid #d0d0d0;margin-right: 20px;}
		ul{
			position: absolute;
			background: rgba(76,76,76,0.04);
			background: -moz-linear-gradient(top, rgba(76,76,76,0.04) 24%, rgba(76,76,76,0.12) 29%, rgba(40,40,40,0.86) 74%, rgba(19,19,19,0.86) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(24%, rgba(76,76,76,0.04)), color-stop(29%, rgba(76,76,76,0.12)), color-stop(74%, rgba(40,40,40,0.86)), color-stop(100%, rgba(19,19,19,0.86)));
			background: -webkit-linear-gradient(top, rgba(76,76,76,0.04) 24%, rgba(76,76,76,0.12) 29%, rgba(40,40,40,0.86) 74%, rgba(19,19,19,0.86) 100%);
			background: -o-linear-gradient(top, rgba(76,76,76,0.04) 24%, rgba(76,76,76,0.12) 29%, rgba(40,40,40,0.86) 74%, rgba(19,19,19,0.86) 100%);
			background: -ms-linear-gradient(top, rgba(76,76,76,0.04) 24%, rgba(76,76,76,0.12) 29%, rgba(40,40,40,0.86) 74%, rgba(19,19,19,0.86) 100%);
			background: linear-gradient(to bottom, rgba(76,76,76,0.04) 24%, rgba(76,76,76,0.12) 29%, rgba(40,40,40,0.86) 74%, rgba(19,19,19,0.86) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
			width: 100%;
			bottom: 0;
			padding: 50px 0px 8px;
			li{
				padding: 0px 6px;
				a{
					color:#fff;
					span{
						font-size: 16px;
					}
					&:hover{
						color:#ef4523;
					}
				}
				&:first-child{
					padding-left:15px;
				}
				&:last-child{
					float:right;
				}
			}
		}
	}
	.content{
		padding: 15px 12px;
		border-bottom:1px solid #dcdcdc;
	}
	.bottom{
			.list1{
				
				li{
					font-size:12px;
					color:#828282;
					border-right:1px solid #e2e2e2;
				    padding-left:32px;
				    position: relative;
				    padding-top: 14px;
			        padding-bottom: 14px;
				    &:before{
			    	    position: absolute;
			    	    content: '';
			    	    display: block;
			    	    font-size: 18px;
			    	    left: 10px;
			    	    margin: auto;
			    	    font-family: 'Icomoon';
			    	    line-height:1;
			    	    color:#828282;
				    }
				    &:nth-child(1){
				    	
						&:before{
							// background:url('../images/features/size.jpg');
							content:'\e93d';
						}
				    }
				    &:nth-child(2){
				    	&:before{
				    		// background:url('../images/features/bedroom.jpg');	
				    		content:'\e93e';
				    	}	
				    }
				    &:nth-child(3){
				    	border-right:none;
				    	&:before{
				    		// background:url('../images/features/bathroom.jpg');
				    		content:'\e93f';
				    	}
				    }
				}
			}

	}
	.butons{
				a{
					border:1px solid transparent;
				}
			}
	&:hover{
		box-shadow: 0px 0px 10px -1px #f0f0f0;
	}
}

.auction-box{
	min-height:205px;
	width:100%;
	padding:12px;
	background-size:cover !important;
	background-repeat:no-repeat;
	position: relative;
	border-radius:5px;
	@include transition(0.6s);
	z-index:9999;
	&:after{
		position:absolute;
		content:'';
		border-radius: 5px;
		display:block;
		width:100%;height:100%;
		background: rgba(7,53,85,0.41);
		background: -moz-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,53,85,0.41)), color-stop(14%, rgba(7,53,85,0.41)), color-stop(37%, rgba(7,53,85,0.14)), color-stop(41%, rgba(7,53,85,0.09)), color-stop(49%, rgba(7,53,85,0.09)), color-stop(62%, rgba(7,53,85,0.09)), color-stop(66%, rgba(7,53,85,0.14)), color-stop(93%, rgba(7,53,85,0.49)), color-stop(97%, rgba(7,53,85,0.49)));
		background: -webkit-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
		background: -o-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
		background: -ms-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
		background: linear-gradient(to bottom, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073555', endColorstr='#073555', GradientType=0 );
		left:0;top:0;z-index:0;@include transition(0.6s);
	}
	img{
		position:absolute;
		z-index:2;    right: 15px;
	}
	.text{
		position:absolute;
		z-index:2;
		bottom: 10px;

	}

	&:hover{
		// &:after{
		// 	display:none;
		// }
	}
}

.auction-box-cont{
	.tup{
		@include transition(0.5s);
		border-radius: 5px;
		.main-div{
			border-radius: 5px;
		    position: relative;
		    overflow: hidden;
		    margin: 15px 0px;
			.auction-box{
				border-radius:0px;
				&:after{
					border-radius:0px;
				}
				.auc-list{
					position: absolute;
				    bottom: 10px;
				    left: 15px;
					li{
						color:#fff;
						position: relative;
						z-index: 5;
						font-size:13px;
						&:first-child{
							width: 15%;
							border-right: 1px solid #fff;
							line-height: 1.4;
						}
						&:last-child{
							width:50%;
							text-transform: uppercase;	
							line-height: 1.4;
							padding-left:6px;	
						}
					}
				}
			}
			.auction-box-detail{
				background-color:#fff;
				padding:15px 30px;
			}
			
		}
		&:hover{
			box-shadow: 0px 2px 7px -1px #9E9E9E;
		}
	}
	
}

.legal-box{
	background-color: #fff;
	padding:15px;
	border:1px solid #e2e2e2;
	border-radius:5px;    margin-bottom: 15px;
	.fc-blue{
		color:#0a426a;
	}
	.butons{
		.btn-orange{
			width:122px;
			border-radius: 5px;
			padding: 6px 6px;
			border: 1px solid transparent;
			span{

			}
			&:hover{
				span{color:$theme-primary !important;}
			}
		}
		.btn-blue{
			width:122px;
			border-radius: 5px;
			padding: 6px 6px;
			border: 1px solid transparent;
			&.lb{
				background-color: #0a426a;    margin-left: 5px;
				&:hover{
					background-color: #fff;
					span{color:#0a426a !important;}
				}
			}
		}
	}
	.deta{
		display: inline-block;
		li{
			position: relative;
			padding-left: 22px;    margin-right: 40px;
			font-size:14px;    color: #5b5b5b;
			span{
				position: absolute;
				left:0;
				font-size:16px;
				color: #ef4523;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			}
			&:nth-child(3){
				width: 55%;
			    display: inline-flex;
			    margin-right: 0px;

			}
		}
	}
	@media (max-width:1200px) {
		.deta{
			li{
				&:nth-child(3){
					width:40%;
				}
			}
		}
	}
	@media (max-width:991px) {
		.deta{
			li{
				&:nth-child(3){
					width:50%;

				}
			}
		}
	}
	@media (max-width:768px) {
		.deta{
			li{
				&:nth-child(3){
					width:50%;
					margin-bottom:15px; 
				}
			}
		}
	}
}

.lawyer-box{
	border:1px solid #e2e2e2;
	border-radius:5px;
	.head{
		padding:10px 15px;
		border-bottom:1px solid #e2e2e2;
		line-height: 1;
		position: relative;
		padding-left: 45px;
		span{
			font-size:22px;
			position: absolute;
			left: 18px;
			top: 7px;
		}
		.fs-default{
			span{
				font-size: 20px;
			    position: absolute;
			    left: 18px;
			    top: 5px;
			}
		}
		&.con{
			padding:15px 15px;
			padding-left: 45px;
			span{
				font-weight: 600;
				font-size: 30px;
				left: 12px;
			}
		}
	}
	.bottom{
		padding:15px 15px 20px;
		form{
			&.email{
					input[type=email]{
						border:1px solid #e0e0e0;
						height:36px;
						border-radius:0px;    margin-bottom: 10px;
					}
					textarea{
						border:1px solid #e0e0e0;
						min-height:85px;
						border-radius:0px;    margin-bottom: 10px;    line-height: 1;
					}
					.btn-detail{
						padding: 6px 16px;
						&.ask{
							position: relative;
							font-size:13px;
							width: 100%;
						    padding: 8px 15px;
						    font-weight:500;
							&:before{
								right: 60px;
							    position: absolute;
							    display: block;
							    content: '\e98c';
							    font-size: 24px;
							    top: 0;
							    font-family: 'Icomoon';

							}
						}
					}
			} 
		}
		.anchor-text{
			position: relative;
			text-align: center;
			display: block;
			margin-top: 15px;
			text-decoration: underline !important;
			color: #0a426a;
			line-height: 2.2;
			span{
				position: absolute;
				left: 14px;
				font-size: 30px;
				top: -3px;
				color: #ef4524;
			}
		}
	}
}
.category-box{
	border:1px solid #e2e2e2;
	border-radius:5px;
	.head{
		padding:10px 15px;
		border-bottom:1px solid #e2e2e2;
		line-height: 1;
		.fs-default{
			span{
				font-size: 20px;
			    position: absolute;
			    left: 18px;
			    top: 5px;
			}
		}
	}
	&.forum{
		.head{
			padding:12px 15px;
			border-bottom:1px solid #e2e2e2;
			line-height: 1;
			position: relative;
			padding-left: 50px;
			.fs-default{
				span{
					font-size: 26px;
				    position: absolute;
				    left: 18px;
				    top: 5px;
				}
			}
			span{
				font-size: 26px;
				position: absolute;
				left: 15px;
				top: 5px;

			}
		}
		.acco{
			.drop{
				a{
					display: block;
				    position: relative;
				    font-size:12px;
					span{
						position: absolute;
						right:10px;
					}
				}
			}
		}

	}
	ul{
		li{
			font-size:12px;
			&:nth-child(even){
				background-color:#fafafa;
			}
			&:nth-child(odd){
				background-color:#fff;
			}
			&:last-child{
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
			}
		}
	}	
	.ask-expert{
		display: inline;
		.contributor-box{
			padding:15px 15px;
			position: relative;
			border-bottom:1px solid #e2e2e2;
			&:nth-child(even){
				background-color:#fff;
			}
			&:nth-child(odd){
				background-color:#fff;
			}
			&:last-child{
				border-bottom:0px;
			}

			figure{
				position: absolute;
				left: 15px;
				img{
					border-radius: 6px;
				}
			}
			.content{
				padding: 3px 0px 3px 50px;
				.left{
					width: 55%;
					display: inline-block;
				}
				.right{
					width:42%;
					display: inline-block;
					p{
						color:#acacac;
					}
				}
			}

			&.top-expert{
				padding: 10px 12px;
				figure{
					position: unset;
					left: 0;
					img{
						width: 44px;
						height: 42px;
						position: absolute;
						display: block;
						top: 0;
						border-radius: 5px;
						bottom: 0;
						margin: auto;
					}
				}
				.content{
					position: relative;
					.left{
						width:65%;
						ul{
							li{
								background-color:#fff;
								&:last-child{
									padding-left: 10px;
								}
							}
						}
					}
					.right{
						width:38%;
						position: absolute;
						right: 0;
						top: 8px;
					}
				}
			}
		}
	}
}
.recent-blog-post{
	border:1px solid #e2e2e2;
	border-radius:5px;
	.head{
		padding:10px 15px;
		border-bottom:1px solid #e2e2e2;
		line-height: 1;    margin-bottom: 5px;
	}
	.post{
		
		position: relative;
		padding: 12px 12px 10px;
		figure{
			img{
				width:75px;height:70px;
			}
		}
		.text{
			p{
				color:#073555;
			}
			span{
				color:#959595;
				@include transition(0.5s);
			}
		}
		&:hover{
			.text{
				
				span{
					color:#333;
				}
			}
		}
	}
}
.advertise-sect{
	border:1px solid #e2e2e2;
	border-radius:5px;
	.head{
		padding:10px 15px;
		border-bottom:1px solid #e2e2e2;
		line-height: 1;
		p{
			position: relative;
			padding-left: 35px;
			span{
				position: absolute;
				left: 0;
				font-size: 32px;
				top: -8px;
			}
		}
		
	}
	ul{
		li{
			font-size:12px;

			&:nth-child(odd){
				background-color:#fafafa;
			}
			&:nth-child(even){
				background-color:#fff;
			}
			&:last-child{
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
			}
		}
	}
	.acco li.drop ul.dotted li{
		padding-bottom: 2px;
	    padding-top: 2px;
	}
	&.doc{
		.head{
			padding: 12px 15px;
			p{
				span{
					font-size: 28px;
				    top: -6px;
				}
			}
		}
	}

}
.blog-archives{
	border:1px solid #e2e2e2;
	border-radius:5px;
	.head{
		padding:10px 15px;
		border-bottom:1px solid #e2e2e2;
		line-height: 1;
	}
	ul{
		li{
			font-size:12px;

			&:nth-child(odd){
				background-color:#fafafa;
			}
			&:nth-child(even){
				background-color:#fff;
			}
			&:last-child{
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
			}
		}
	}

}
.trend-box{
	position: relative;
	border-radius: 5px;
	height:209px;
	background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    overflow: hidden;    margin-bottom: 30px; 
    &:after{
    	position: absolute;
    	content:'';
    	display: block;
    	background: url('../images/trends/overlay.png');
    	width:100%;
    	height:100%;
    	top:0;left:0;
    	background-size: cover !important;background-repeat: no-repeat !important;
	    border-radius: 5px; z-index: 0;    opacity: 0.4;@include transition(0.6s);
    }
    .text{
    	position: absolute;
    	bottom: 20px;
    	color: #fff;
    	font-size: 17px;
    	font-weight: 500;
    	left: 25px;z-index: 12;line-height:1;    letter-spacing: 0.8px;
    }
    .detail-btn{
	    z-index: 12;
	    padding: 4px 12px;
	    border: 1px solid #ef4523;
	    color: #fff;
	    position: absolute;
	    bottom: 16px;
	    right: 25px;
	    font-size: 12px;
	    border-radius: 5px;
	    font-weight: 500;
	    &:hover{
	    	background-color: #fff;
	    	color: #ef4523;
	    	border: 1px solid transparent;
	    }
    }
    &:hover{
		&:after{
			height:0%;
		}
    }

}
.agent-directory-box{
	background-color:#fff;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	min-height: 361px;
	border-radius:5px;
	.head{
		border:1px solid #e2e2e2;
		margin:3px;
		padding:10px 20px;
	}
	.content{
		padding:12px 12px;
	}
	.like{
		padding:10px 0px;
		border-top:1px solid #e2e2e2;
	}
	.btn-orange{
		    border-bottom-left-radius: 5px;
	}
	.btn-blue{
		    border-bottom-right-radius: 5px;
	}
	&:hover{
		box-shadow:0px 0px 15px 2px #e2e2e2;
	}
}

.blog-bbox{
	position: relative;
	background: #fff;
	padding: 15px 0px;
	margin: 0;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px #e2e2e2;
	margin-bottom:20px;
	.text-side{
		position: relative;
		padding: 10px 0px 0px;
		.date-tag{
			position: absolute;
		    right: 0px;
		    top: -15px;
		    content: '';
		    display: block;
		    background: url(../images/date-tag.png);
		    height: 57px;
		    width: 44px;
		    text-align: center;
		    padding-top: 10px;
		}
		ul{
			padding-top:5px;
			li{
				position: relative;
				border-right: 1px solid #e2e2e2;
				padding: 5px 5px;
				font-size: 12px;
				line-height: 1;
				a{
					color:#585858;
				}
				&:first-child{
					padding-left:0px;
				}
				&:last-child{
					border: none;
					padding-right:0px;
					a{
						color:#cecece;
					}
				}
			}
		}
		.btn-detail{
			font-size:13px;
			background-color: #0a426a;
			border: 1px solid transparent;
			padding: 8px 30px 8px 25px;
		    position: relative;
		    color:#fff;
			span{
				font-size: 22px;
			    position: absolute;
			    top: 8px;
			    bottom: 0;
			    margin: auto;
			    right: 10px;
			    line-height: 0.8;
			    @include transform(translateX(0%));
			    @include transition(0.6s);
			}
			&:hover{
				background-color: #fff;
				border: 1px solid #0a426a;
				color:#0a426a;
				span{
					@include transform(translateX(20%));
				}

			}
		}
	}
}

.blog-bbox-detail{
	position: relative;
	background: #fff;
	padding: 15px 0px;
	margin: 0;
	overflow: hidden;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
    border:1px solid #e2e2e2;
    border-bottom-right-radius: 0px;
	.date-tag{
			position: absolute;
		    left: 30px;
		    top: 0;
		    content: '';
		    display: block;
		    background: url(../images/date-tag.png);
		    height: 57px;
		    width: 44px;
		    text-align: center;
		    padding-top: 10px;
		}
	.text-side{
		position: relative;
		padding: 20px 10px 0px;

		ul{
			padding-top:5px;
			li{
				position: relative;
				border-right: 1px solid #e2e2e2;
				padding: 5px 5px;
				font-size: 12px;
				line-height: 1;
				a{
					color:#585858;
				}
				&:first-child{
					padding-left:0px;
				}
				&:last-child{
					border: none;
					padding-right:0px;
					a{
						color:#cecece;
					}
				}
			}
		}
		
	}
}

.related-blogs-box{
	border-radius: 5px;
    position: relative;
    overflow: hidden;
    min-height: 342px;
    .date-tag{
			position: absolute;
		    left: -1px;
		    top: 15px;
		    content: '';
		    display: block;
		    background: url(../images/left-date-tag.png);
		    height: 36px;
		    width: 81px;
		    text-align: center;
		    padding-top: 7px;
		    z-index:1;
		    @include transform(translateX(-125%));
		    @include transition(0.5s);
		}
	figure{
		position: relative;
		
		&:after{
			position: absolute;
			content:'';
			display: block;
			width:100%;height:100%;
			background: rgba(7,53,85,0.41);
			background: -moz-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,53,85,0.41)), color-stop(14%, rgba(7,53,85,0.41)), color-stop(37%, rgba(7,53,85,0.14)), color-stop(41%, rgba(7,53,85,0.09)), color-stop(49%, rgba(7,53,85,0.09)), color-stop(62%, rgba(7,53,85,0.09)), color-stop(66%, rgba(7,53,85,0.14)), color-stop(93%, rgba(7,53,85,0.49)), color-stop(97%, rgba(7,53,85,0.49)));
			background: -webkit-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -o-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: -ms-linear-gradient(top, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			background: linear-gradient(to bottom, rgba(7,53,85,0.41) 0%, rgba(7,53,85,0.41) 14%, rgba(7,53,85,0.14) 37%, rgba(7,53,85,0.09) 41%, rgba(7,53,85,0.09) 49%, rgba(7,53,85,0.09) 62%, rgba(7,53,85,0.14) 66%, rgba(7,53,85,0.49) 93%, rgba(7,53,85,0.49) 97%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073555', endColorstr='#073555', GradientType=0 );
			left:0;top:0;z-index:0;@include transition(0.6s);
		}

	}
	.text-side{
		background-color:#fff;
		position: relative;
		padding:  18px 15px;

		ul{
			
			li{
				position: relative;
				border-right: 1px solid #e2e2e2;
				padding: 5px 5px;
				font-size: 12px;
				line-height: 1;
				a{
					color:#585858;
				}
				&:first-child{
					padding-left:0px;
				}
				&:last-child{
					border: none;
					padding-right:0px;
					a{
						color:#cecece;
					}
				}
			}
		}
		
	}
	.butons{
		.btn-blue{
			position: relative;
			span{
				position: absolute;
				font-size: 24px;
				top: 8px;
			}
		}
	}
	&:hover{
		.date-tag{
			@include transform(translateX(0%));
		}
	}
	
}

.pre-box{
	background-color:#fff;
	border:1px solid #e2e2e2;
	border-radius:5px;
	padding: 45px 60px;
	position: relative;
	
	&.two{
		padding:30px 60px;
	}
	&.three{
		padding:45px 80px;
		form.form-1{
			padding:0;
		}
		form.form-1 select{
			color:#113147;
			border-color:#dcdcdc;
			background-color:#f8f8f8;
		}
		form.form-1 input{
			color:#113147;
			border-color:#dcdcdc;
			background-color:#f8f8f8;
		}
		.btn-submit{
			margin-left: 10px;
			padding: 9px 6px 8px 17px;
			&:before{
				left: 40px;
				top: 6px;
			}
		}
		.heading-main.small-2:after{
			width:72%;
		}
	}
}
.glance{
	background-color:#fff;
	position:relative;
	border:1px solid #e2e2e2;
	border-radius:5px;
	padding:20px 20px;
	ul{
		li{
			padding-right: 10px;
			&:last-child{
				padding-right:0;
			}
		}
	}
	&.two{
		padding:30px 20px;
		
		.glance-btn{
			padding:12px 15px 12px 40px;
			display: inline-block;
			position: relative;
			color:#fff;
			background-color:#4cae59;
			text-align: center;
			width: 30%;
			border-radius:5px;
			border:1px solid transparent;
			span{
				position: absolute;
				font-size: 36px;
			    top: 3px;
			    left: 15px;
			}
			&:hover{
				color:#4cae59;
				background-color:#fff;
				border:1px solid #4cae59;
			}
		}

	}
}
.glance-box{
	figure{

	}
	.content{
		text-align: center;
		padding: 15px 8px;
	}
}
.auc-detail-box{
	padding: 15px 15px;
	.below-image{
		position: relative;
		// overflow: hidden;
		border:1px solid #e2e2e2;
			.shade{
			    ul{
			    	position: absolute;
		    	    background: #00000042;
		    	    width: 100%;
		    	    bottom: 0;
		    	    padding: 8px 0px;
		    	    li{
		    	    	padding: 0px 6px;
		    	    	&:first-child{
		    	    		padding-left: 15px;
		    	    	}
		    	    	&:nth-child(2){
		    	    		float: right;
		    	    		padding-right: 15px;
		    	    	}
		    	    	&:last-child{
		    	    		float: right;
		    	    	}
		    	    	a{
		    	    		color:#fff;
		    	    		&:hover{
		    	    			color:#ef4523;
		    	    		}
		    	    	}
		    	    }
			    }
			}
		    
		}
	
	.text{
		padding: 15px 0px;
		.lister{
			padding-top:7px;
			li{
				position: relative;
				border-right: 1px solid #e2e2e2;
				padding: 1px 5px;
				font-size: 12px;
				line-height: 1;
				a{
					color:#585858;
				}
				&:first-child{
					padding-left:0px;
				}
				&:last-child{
					border: none;
					padding-right:0px;
					a{
						color:#cecece;
					}
				}
			}
		}
		.disturb{
			position: relative;
			padding-left:35px;
			&:before{
				position: absolute;
				content: '\e9a3';
				display: block;
				left: 0;
				font-size: 36px;
				font-family: 'Icomoon';
				font-weight: 600;
				color: #073555;
				line-height: 1.4;
			}
			p{
				span{
					font-size:14px;
					font-weight:400;
					line-height: 1.2;
					padding-top: 3px;
				}
			}
		}
		.btn-detail{
				padding: 8px 20px;
				font-size:13px;
		}
		&.two{
			.green-head{
				background-color:#d8f0d4;
				padding: 5px 10px;
				border-radius: 4px;
				p{
					color:#44653e;
				}
			}
			.est{
				color:#989898;
				span{
					font-size:14px;
				}
			}
		}

	}

	
}
.pdf-box{
	position: relative;
	padding:12px 20px;
	.text{
		position: relative;
		padding-left: 30px;
		&:before{
			position: absolute;
			content:'';
			display: block;
			background: url('../images/pdf.png');
			height:30px;
			width:21px;
			top: 0;
		    left: 0;
		    bottom: 0;
		    margin: auto;

		}
	}
}
.profilez-box{
	border-left: 1px solid #e2e2e2;
	.head{
		padding:10px 15px 15px;
		border-bottom: 1px solid #e2e2e2;
		line-height: 1;
		p{
			position: relative;
			padding-left:35px;
			span{
				position: absolute;
				font-size:28px;
				left:0;
				top:-7px;
			}	
		}
		
	}
	.bix{
		border: 1px solid #e2e2e2;
	    padding: 78px 0px;
        text-align: center;
        margin: 15px;
        border-radius: 5px;
		img{
			
		}
	}
	.bottom{
		position: relative;
		border-bottom: 1px solid #e2e2e2;
	    padding: 0px 10px 15px 65px;
		span{
			position: absolute;
			left:20px;
			font-size:38px;
		}
	}
	.butns{
		padding: 18px 15px 2px;
		.btn-detail{
			width:48%;
			padding: 8px 0px;
			color:#fff;
			&.one{
				background-color: $theme-primary;
				border-color: $theme-primary;
				&:hover{
					background-color:#fff;
					color:$theme-primary;
				}
			}
			&.two{
				&:hover{
					background-color:#fff;
					color: $theme-secondary;
				}
			}
		}
	}
}
.main-box{
	border-radius:5px;
	background-color:#fff;
	position: relative;
	overflow: hidden;

	.pp-box{
		position: relative;
		min-height: 310px;
		overflow: hidden;
		
		padding:15px 20px 10px;
		.first{
			float: left;
			margin-right: 10px;
			
		}
	}
	.butons{
		min-height: 42px;
	.btn-orange{
		border-bottom-left-radius: 5px;
		&:hover{
			border-bottom-left-radius: 5px;
		}
	}
	.btn-blue{
		border-bottom-right-radius: 5px;
			&:hover{
				border-bottom-right-radius: 5px;
			}
		}
	}
	
}
.contact-box{
	background-color:#fff;
	border:1px solid #e2e2e2;
	border-radius:5px;
	.head{
		padding:10px 15px;
		text-align: center;
		border-bottom:1px solid #e2e2e2;
		p{
			position: relative;
			span{
				position: absolute;
			    left: 70px;
			    font-size: 36px;
			    top: -6px;
			    &.offic{
					font-size: 30px;
				    left: 95px;
				    top: -3px;
			    }
			    &.minfo{
			    	font-size: 30px;
			    	left: 25px;
			    	top: -3px;
			    }
			}
		}
	}
	.content{
		padding: 15px 15px 20px;
		.det{
			padding:20px 0px;
			li{
				position: relative;
				padding-left:30px;
				color:$theme-secondary;
				margin-bottom: 5px;
				span{
					position: absolute;
				    left: 6px;
				    top: 2px;
				    bottom: 0;
					color:$theme-primary;
				}
				&:first-child{
					line-height:1.2;
					span{
						top:9px;
					}
				}
			}
			&.off{
				
				li{
					padding-left: 55px;
					padding-right: 40px;
					line-height: 1.6;
					span{
						font-size: 40px;
						top: 1px;
					}
				}
			}
		}
		.det2{
			margin: 0px 20px;
			li{
				a{
					&.btn{
						display: inline-block;
						position: relative;
						padding: 6px 10px;
						text-align: center;
						color:#fff;
						width:100%;
						border-radius:5px;
						margin-bottom:8px;
						text-transform: uppercase;
						&.facebook{
							background-color:#3c5a98;
							&:hover{
								color:#fff !important;
							}
						}
						&.twitter{
							background-color:#00a4e4;
							&:hover{
								color:#fff !important;
							}
						}
						&.google{
							background-color:#dc4e41;
							&:hover{
								color:#fff !important;
							}
						}

					}
					
				}
			}
		}
		&.det3{
			padding: 25px 35px 0px;
			form{
				&.c-form{
					input {
						&[type=text], &[type=number], &[type=email], &[type=date] , &[type=time] , &[type=month] , &[type=password] {
							border-radius: 0px;
						    border-color: #e0e0e0;
						    height: 45px;   
						}
					}
					textarea{
						min-height: 115px;
						border-radius:0;
						border-color:#e0e0e0;
					}
					.last {
					    position: relative;
					    .input {
					        position: absolute;
					        left: 0;
					        top: 1px;
					    }
					    .lbl {
					        padding-left: 20px;
					    }
					}
				}
			}
		}
		
	}
}

.map-box{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	min-height: 293px;
	box-shadow: 0px 0px 20px 1px #e2e2e2;
	.content{
		padding:15px;
		background-color:#fff;
	}
	.butons{
		.btn-blue{
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
		}
		.btn-blue span{
			position: relative;
			top: 3px;
		}
	}
}

.rec-po-box{
	position: relative;
	padding: 15px 15px;
	border-bottom: 1px solid #e2e2e2;
	figure{
		img{}
	}
	.content{
		.fis{
			position: relative;
			padding-left:20px;
			&:before{
				position: absolute;
				content:'';
				left:0;
				width:15px;height: 15px;
				background: url('../images/fis.png');
				top:0;bottom:0;
				margin: auto;
			}
		}
		ul{
			li{
				color:#7a7a7a;
				background-color: #fff;
				line-height: 1;
				&:first-child{
					padding-right:10px;
					border-right:1px solid #7a7a7a;
				}
				&:last-child{
					padding-left:25px;
					position: relative;
					span{
						position: absolute;
						left: 8px;
					    top: -3px;
						font-size: 16px;
					}
				}
			}
		}
	}
	.views{
		position: relative;
		min-height: 70px;
		.one{
			position: absolute;
			font-weight:600;
			top:0;
		}
		.two{
			position: absolute;
			
			bottom:0;
		}
	}
	&:last-child{
		border-bottom:0px;
	}
}