.btn-primary{
  background-color:#fc694b;
  padding:8px 20px;
  display:inline-block;
  border:1px solid #9c2a13; 
  position:relative;
  font-size:18px;
  color:#fff;
  
  text-align: center;
  transition:0.6s;
 
  
  span{
    background-color: #fff;
    height: 20px;
    width: 10px;
    color: #530717;
    border-radius: 50px;
    text-align: center;
    margin-left: 12px;

  }
  // &:after{
  //   content: '\e934';
  //   font-family: 'icomoon';
  //   font-size: 24px;
  //   color: #ee1b24;
  //   display: block;
  //   position: absolute;
  //   right: 20px;
  //   top: 16%;
  //   background-color: #fff;
  //   height: 20px;
  //   width: 20px;
  //   line-height: 0.9;
  //   border-radius: 50px;
  // }
}

.btn-primary-two{
  background-color:transparent;
  padding:8px 12px;
  display:inline-block;
  border:1px solid #ee1b24; 
  position:relative;
  font-size:16px;
  color:#fff;
  text-align: center;
  transition:0.6s;
  &:hover{
    border:1px solid #fff;
  }
  span{
    background-color: #fff;
    height: 20px;
    width: 10px;
    color: #530717;
    border-radius: 50px;
    text-align: center;
    margin-left: 12px;

  }
 
}
.btn-secondary{
  padding: 6px 12px;
  background-color: #f14b2a;
  color: #fff;
  text-align: center;
  display: inline-block;
  border:1px solid #9c2a13;
  transition:0.5s;
  border-radius: 6px;
  &:hover{
    border:1px solid #9c2a13;
    background-color:transparent;
    color:#f14b2a;
  }
}
.btn-submit{
  padding: 10px 6px 10px 17px;
  background-color: #ef4523;
  color: #fff;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  transition: 0.5s;
  border-radius: 6px;
  width: 100%;
  height: 44px;
  position: relative;
  &:before{
    position: absolute;
    display:block;
    content:'\e918';
    font-size:20px;
    font-family:'Icomoon';
    left: 20px;
    top: 5px;
    bottom: 0;
    margin: auto;
    color:#fff;
  }
  /* &:hover{
    border:1px solid #ef4523;
    background-color:transparent;
    color:#ef4523;
    &:before{
      color:#ef4523;
    }
  } */
}
.btn-grey{
  padding: 6px 20px;
  background-color: #848484;
  color: #fff;
  text-align: center;
  display: inline-block;
  border:1px solid transparent;
  transition:0.5s;
  &:hover{
    border:1px solid #848484;
    background-color:transparent;
    color:#848484;
  }
}

.btn-blue{
  background-color:$theme-secondary;
  text-align:center;
  display:inline-block;
  padding:10px 12px;
  color:#fff;    letter-spacing: 0.5px;
  span{
        color:#fff !important;
      }
  &:hover{
    background-color:#fff;
    color: #073555 !important;
    border: 1px solid #073555  !important;
    border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    span{
          color:#073555 !important;
        }
  }
}
.btn-orange{
  background-color:$theme-primary;
  text-align:center;
  display:inline-block;
  padding:10px 12px;
  color:#fff;    letter-spacing: 0.5px;
  span{
        color:#fff !important;
      }
  &:hover{
      background-color:#fff;
      color:#ef4523;
      border: 1px solid #ef4523 !important;
      
      span{
        color:#ef4523 !important;
      }
    }

    &.small{
      padding: 6px 10px;
      color: #fff;
      font-size: 11px;
      border-radius: 12px;
      &:hover{
        color:$theme-primary;
      }
    }
}

.btn-google{
  background-color:#dc4e41;
  text-align:center;
  display:inline-block;
  padding:10px 12px;
  color:#fff; border:1px solid transparent;   letter-spacing: 0.5px;
  border-radius: 5px;
  span{
        color:#fff !important;
      }
  &:hover{
      background-color:#fff;
      color: #dc4e41 !important;
      border: 1px solid #dc4e41;
      span{
        color:#dc4e41 !important;
      }
    }
}
.btn-fb{
  background-color:#3c5a98;
  text-align:center;
  display:inline-block;
  border:1px solid transparent;
  padding:10px 12px;    border-radius: 5px;
  color:#fff;    letter-spacing: 0.5px;
  span{
        color:#fff !important;
      }
  &:hover{
      background-color:#fff;
      color: #3c5a98 !important;
      border: 1px solid #3c5a98;
      span{
        color:#3c5a98 !important;
      }
    }
}



.btn-call-small{
  background-color:#1c5f8f;
  padding: 5px 6px;
  display: inline-block;
  border-radius:4px;
  color:#fff;
  border:1px solid transparent;
  &:hover{
    background-color:#fff;
    color:#1c5f8f;
    border:1px solid #1c5f8f;
  }
}
.btn-email-small{
  background-color:#1c8f4a;
  padding: 5px 5px;
  display: inline-block;
  border-radius:4px;
  color:#fff;
  border:1px solid transparent;
  &:hover{
    background-color:#fff;
    color:#1c8f4a;
    border:1px solid #1c8f4a;
  }
}
.soc-big-buttons{
  a{
    img{
    margin-bottom:15px;
    }
  }
}
.btn-sign{
  padding:6px 16px;
  color:#fff;
  background-color:#0b5182;
  border-radius:5px;
  margin-left:7%;
  span{
    position: relative;
    top:1px;
    padding-left:10px;
    right: 5px;
    @include transition(0.4s);
  }
  &:hover{
    color:#fff;
    span{
      right:0px;
    }
  }
}
.btn-detail{
  background-color:#0a426a;
  padding:4px 10px;
  display:inline-block;
  color:#fff;
  border:1px solid #0b5182;
  font-size:12px;
  border-radius:4px;
  text-align:center;
  &.orange{
    background-color:#ef4523;
    border:1px solid #c1381d;
  }
  &.green{
    background-color:#2c9f4b;
    border:1px solid #2c9f4b;
  }
  &.blue{
    background-color:#073555;
    border:1px solid #073555;
  }
  
  &:hover{
    border:1px solid #0b5182;
    background-color:transparent;
    color:#0b5182;
    &.orange{
      background-color:transparent;
      border:1px solid #c1381d;
      color:#c1381d;
    }
    &.green{
      background-color:transparent;
      border:1px solid #237d3b;
      color:#237d3b;
    }
    &.blue{
      background-color:transparent;
      border:1px solid #073555;
      color:#073555;
    }
  }
  
}

.btn-s{
  padding:3px 12px;
  display:inline-block;
  background-color:#073555;
  color:#fff !important;
  font-size:11px;
  border-radius:35px;
  &.orange{
    background-color:#ef4523;
  }
  // &:hover{
  //   background-color:#fff;
  //   color:#073555;
  //   &.orange{
  //     background-color:#fff;
  //     color:#ef4523;
  //   }
  // }
}
.btn-fgrey{
  padding: 3px 25px;
  display: inline-block;
  color: #111;
  border: 2px solid #a0a0a0;
}


.buto{
  text-align: right;
  .btn-new-form{
    padding: 10px 40px 10px 30px;
    font-size:13px;
    color:#fff;
    border :1px solid transparent;
    background-color:#ef4523;
    position: relative;
    border-radius:5px;
    display: inline-block;
    width: 125px;
    &.blue{
      background-color:$theme-secondary;
      font-size: 14px;
      padding: 8px 0px;

    }
  }
  span{
      position: absolute;
      color: #fff;
      font-size: 24px;
      right: 24px;
      top: 8px;
      &.blue{
        font-size:20px;
        left: 28%;
        right: unset;
      }
    }

  
}
.button-soc{
  padding:12px 20px 12px 30px;
  text-align: center;
  color:#fff;
  font-size:14px;
  text-transform: uppercase;
  position: relative;
  border:1px solid transparent;
  @include transition(0.5s);
  margin-right: 5px;
  &:before{
    position: absolute;
    content:'';
    display: block;
    font-family:'Icomoon';
    font-size:18px;
    top: 6px;
    left:10px;
  }
  &.facebook{
    background-color:#3b5998;
    &:before{
      content:'\e90a';
    }
    &:hover{
      color:#3b5998;
      background-color:#fff;
      border:1px solid #3b5998;
    }
  }
  &.twitter{
    background-color:#1da1f2;
    padding: 12px 25px 12px 35px;
    &:before{
      content:'\e907';
    }
    &:hover{
      color:#1da1f2;
      background-color:#fff;
      border:1px solid #1da1f2;
    }
  }
  &.print{
    background-color:#738a8d;
    padding: 12px 25px 12px 35px;
    &:before{
      content:'\e977';
    }
    &:hover{
      color:#738a8d;
      background-color:#fff;
      border:1px solid #738a8d;
    }
  }
  &.email{
    background-color:#848484;
    padding: 12px 25px 12px 35px;
    &:before{
      content:'\e92e';
    }
    &:hover{
      color:#848484;
      background-color:#fff;
      border:1px solid #848484;
    }
  }
  &.more{
    background-color:#ff6550;
    padding: 12px 25px 12px 35px;
    &:before{
      content:'\e93b';
      top: 7px;
      left: 15px;
    }
    &:hover{
      color:#ff6550;
      background-color:#fff;
      border:1px solid #ff6550;
    }
  }
  &.google{
    background-color:#dc4e41;
    padding: 12px 25px 12px 35px;
    &:before{
      content:'\e938';
      top: 7px;
      left: 15px;
    }
    &:hover{
      color:#dc4e41;
      background-color:#fff;
      border:1px solid #dc4e41;
    }
  }
}
.green-big-button{
  background-color:#4cae59;
  color:#fff;
  text-align:center;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  border-radius:5px;
  font-size:20px;
  border:1px solid transparent;
  &:hover{
    border:1px solid #4cae59;
    color:#4cae59;
    background-color:#fff;
  }
}