.bg-cream{
		background-color:#f6f6f6;
}
.filter-btn{
	padding-right:6px;
	text-align:right;
	a{
		&:hover{
			color:#000;
		}
	}
}
.hafter{
	position: relative;    z-index: 0;
	&:after{
		position: absolute;
	    content: '';
	    display: block;
	    background: url(../images/h-after.jpg);
	    height: 5px;
	    width: 80%;
	    top: 0;
	    background-repeat: repeat;
	    bottom: 0;
	    margin: auto;
	    z-index: -2;
	    right: 0px;
	}
}
.adver-shadow{
	img{
		box-shadow:0px 7px 30px 8px #cbd3d8;
	}
	margin-bottom:35px;
}
.featured-agency{
	margin-top:20px;
	figure{
		padding: 5px 3px;
		border: 1px solid #e2e2e2;
		border-radius: 6px;
		float: left;
		background-color: #fff;
		margin-right: 6px;
		margin-bottom: 6px;
		&:nth-child(3n+0){
			margin-right:0px;
		}
		img{
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		   filter: grayscale(100%);
			    

		}
		&:hover{
			img{
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
		   filter: grayscale(0%);
		   }
		}
	}
}
.blogs{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:453px;
	position: relative;
	// margin: 30px 0px 40px;
	// .mains{
	// 	position:absolute;
	// 	width: 80%;
	// 	top: -22px;
	// 	z-index: -1;
	// }
	.our-blog{
		
		padding-left: 20px;
		padding-right:15px;
		z-index: 0;
		width: 59%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding-top: 10px;
	    padding-bottom: 0px;
	    text-transform:uppercase;
		// &:after{
		// 	position: absolute;
		// 	right:100px;
		// 	content:'';
		// 	display:block;
		// 	background:url('../images/heading-after.png');
		// 	// background-repeat:no-repeat;
		// 	width:55%;
		// 	height:10px;
		// 	top: 0;
		// 	bottom: 0;
		// 	margin: auto;
		// }
		// &:before{
		// 	content:'';
		// 	display:block;
		// 	background:url('../images/blog-before.png');
		// 	background-repeat:no-repeat;
		// 	left:7px;
		// 	width:36px;
		// 	height:10px;
		// 	position: absolute;
		// 	top: 0;
		// 	bottom: 0;
		// 	margin: auto;
		// }
	}
	.right{
		padding:12px 22px;
		.right-head{
			position:relative;
			line-height: 1.6;    text-shadow: 2px 2px #00000078;
			span {padding-right:10px;position: relative;top: 8px;font-size:30px;}
			// &:after{
			// 	position:absolute;left:0;content:'';display:block;width:65px;height:3px;background-color:#ef4523;
			// }
		}
	}

	.main-left{
		margin-top:30px;
	}
}
ul.breadcrumb {
    padding: 0px 0px 15px;
    list-style: none;
    background: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}
ul.breadcrumb li+li:before {
    padding: 0px 2px;
    color: black;
    content: ">";
}
ul.breadcrumb li a {
    color: #737373;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: black;
    text-decoration: none;
}

.posts-search{
	border-radius:5px;
	border:1px solid #e2e2e2;
	ul{
		
		li{
			width:100%;
			padding:8px 15px;
			&:first-child{
				padding:11px 15px;
				background-color:#fff;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				p{
					width: 49.5%;
				    display: inline-block;
				    font-weight:600;
				    select{
				    	margin-left:10px;
				    	color: #000;
				    	font-weight:400;
				    }
				}
			}
			&:last-child{
				background-color:#f6f6f6;
				border-top: 1px solid #e2e2e2;
				padding: 9px 15px;
				p{
					width: 49.5%;
				    display: inline-block;
				    select{
				    	margin-left:10px;
				    }
				}
			}
		}
	}
	&.shared-accom{
		ul{
			border-bottom:none;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;

		}
	}
}
.property-detail{
	background-color:#fff;
	border:1px solid #e2e2e2;
	padding: 12px;
    min-height: 250px;
    border-radius: 5px; 
    position: relative; 
    margin-bottom:20px;
	.bottom-right{
		position:absolute;
		right: 0px;
		bottom: 20px;
		.fig-1{
			width:75%;
		}
	}
   	.top-right{
		   	position: absolute;
		   	top: 10px;
		   	right: 12px;
			ul{

				li{
					&:first-child{
						p{
							position: relative;
						    top: -7px;
						}
					}
				}
			}
   			span{
   				display: block;
	   			&.tag-1{
					background: url('../images/big-sprite.png') no-repeat -24px -1px;
					width: 22px;
					height: 22px;

	   			}
	   			&.tag-2{
	   				background: url('../images/big-sprite.png') no-repeat -1px -1px;
					width: 22px;
					height: 22px;     margin-right: 10px; 			
		   		}
		   		&.tag-3{
	   				background: url('../images/thermometer.png')  no-repeat 10px 1px; width: 22px; height: 26px; margin-right: 0px; 			
		   		}
		   		&.tag-4{
	   				background: url('../images/location.png')  no-repeat 10px 1px; width: 30px; height: 26px; margin-right: 0px; 			
		   		}
		   }
		  
	   
	}
	.slide-detail{
	    position: relative;
		width:306px;
		display:inline-block;
		float:left;
		.ultra-hot{
			position:absolute;left:10px;
		}
		.shaded-icons{
			position: absolute;
			z-index: 1;
			width: 100%;
			bottom: 0px;
			ul{
				background-color:#00000014;
				padding: 8px 0px;
				li{
					padding: 0px 6px;
					a{
						color:#fff;
						span{
							font-size: 16px;
						}
						&:hover{
							color:#ef4523;
						}
					}
					&:first-child{
						padding-left:15px;
					}
					&:last-child{
						float:right;
					}
				}
			}
		}
	}
	.middle-detail{
		width:500px;
		display:inline-block;
		float:left;
		padding: 10px 0px 10px 20px;
		@media (max-width:1240px) {
			width:310px;
			padding: 0px 10px;
		}
		.bed-box{
			ul{
				margin:10px 0px;
				li{
					text-align: center;
					margin-right: 20px;
					&:last-child{
						margin-right:0px;    text-align: right; float: right;
					}
					p{ font-size:12px;
						span{
							font-size: 30px;
						    
						    display: block;
						}
					}
				}
			}
		}
		.text{
			font-size:12px;
			padding-top:5px;
			@media (max-width:1200px) {
				font-size:12px;
				line-height:1.2;
			}
		}
		.buttons{
			margin:16px 0px;
			display: inline-block;
		    width: 60%;
			@media (max-width:1230px) {
				margin:3px 0px;
			}
			.btn-detail{
				width:25%;
				text-align:center;
				@media (max-width:1240px) {
					width:30%;
					margin:0;
				}
			}
			.btn-detail.orange{
				margin-left:5px;
				text-align: center;
				width:45%;
				@media (max-width:1240px) {
					width:35%;
					margin:0;
				}
			}
			.btn-detail.green{
				// margin-left:5px;
				text-align:center;
				width:45%;
				@media (max-width:1240px) {
					width:30%;
					margin:0;
				}
			}
		}
		.bottom{
			input[type=checkbox] + label {
			  cursor: pointer;			  
			}

			input[type=checkbox] {
			  display: none;
			}

			input[type=checkbox] + label:before {
			  content: "\2714";
		      border: 1px solid #000;
		      border-radius: 0.2em;
		      display: inline-block;
		      width: 18px;
		      height: 14px;
		      padding-left: 0px;
		      padding-bottom: 16px;
		      margin-right: 5px;
		      vertical-align: middle;
		      color: transparent;
		      transition: .2s;
		      position: relative;
		      top: -2px;
		      text-align: center;
		      padding-right: 2px;
			}

			input[type=checkbox] + label:active:before {
			  transform: scale(0);
			}

			input[type=checkbox]:checked + label:before {
			  background-color: #ef4523fa;
			  border-color: #ef4523fa;
			  color: #fff;
			}

			input[type=checkbox]:disabled + label:before {
			  transform: scale(1);
			  border-color: #aaa;
			}

			input[type=checkbox]:checked:disabled + label:before {
			  transform: scale(1);
			  background-color: #bfb;
			  border-color: #bfb;
			}
			span{
				&:last-child{
					float: right;
				    position: relative;
				    top: 4px;
				    font-size: 11px;
				}
			}
		}
	}
	.right-detail{
		width: 230px;
		float: left;
		margin-top: 25px;
		@media (max-width:1240px) {
			width:170px;
			margin-top: 15px;
		}
		h4 {
			font-size:24px;
			text-align:center;
			padding-bottom: 10px;
		}
		ul{
			li{
				border:1px solid #d0d0d0;
				padding:12px 8px;
				text-align:center;
				p {
					font-size:11px;
					span{
						display:block;
						font-size: 24px;
						font-weight: 600;
					}
				}
				&:first-child{
					border-bottom:none;
				}
				&:last-child{
					border-top:none;
				}
			}
		}
		.fig-1{
			padding:10px 14px;
			border:1px solid #d0d0d0;
		}
		.fig-2{
			padding: 4px 4px;
			border: 1px solid #e3e3e3;
			border-radius: 5px;
			margin-top: 15px;

		}
	}

	&.new-project{
	    padding: 5px;
	    min-height: 235px;
	   .slide-detail .shaded-icons ul {
		    background-color: #00000038;
		}
	    .middle-detail{
	    	padding: 20px 0px 10px 25px;
	    	.btn-detail{
	    		font-size:13px;
				background-color: #0a426a;
				border: 1px solid transparent;
				padding: 8px 40px 8px 30px;
			    position: relative;
			    color:#fff;
				span{
					font-size: 22px;
				    position: absolute;
				    top: 8px;
				    bottom: 0;
				    margin: auto;
				    right: 10px;
				    line-height: 0.8;
				    @include transform(translateX(0%));
				    @include transition(0.6s);
	    		}
	    		&:hover{
	    			background-color: #fff;
	    			border: 1px solid #0a426a;
	    			color:#0a426a;
	    			span{
	    				@include transform(translateX(20%));
	    			}

	    		}
	    	}
	    }

	}
}


.faetre-detail{
	background-color:#fff;
	border:1px solid #e2e2e2;
	position:relative;overflow:hidden;
		margin: 15px 0px;  border-radius: 5px;
		border-bottom: 3px solid #2c9f4b;
	.top{
		background-color: #0b5182;
		padding-left:20px;
		border-radius: 5px;
		margin-bottom: 10px;
		display:inline-block;width:100%;
		min-height:32px;
		ul{

			li{
				padding: 5px 0px 5px ;
				&:last-child{
					padding: 6px 25px;
				    background: #ef4523;
				    border-left: 1px solid #fff;
				    border-radius: 5px;
				    float: right;
				}
			}
		}
	}
	.img-section{
		width: 460px;
		display: inline-block;
		padding-left: 10px;
		float:left;
		ul{
			&.first{
				li{
					border-bottom:3px solid #fff;
					img{
						width:116px;height:86px;
					}
					&:last-child{
						border-bottom:0px;
					}
				}
			}
			&.second{
				position: relative;
				li{

					img{
						width: 325px;
						height: 264px;
					}
				}
				.shaded-icons{
					position: absolute;
					z-index: 1;
					width: 100%;
					bottom: 0px;
					ul{
						background-color:#00000014;
						padding: 8px 0px;
						li{
							padding: 0px 6px;
							a{
								color:#fff;
								span{
									font-size: 16px;
								}
								&:hover{
									color:#ef4523;
								}
							}
							&:first-child{
								padding-left:15px;
							}
							&:last-child{
								float:right;
							}
						}
					}
				}
			}
		}
	}
	.text-section{
		    width: 400px;
		    display: inline-block;
		    padding: 10px 10px 10px 20px;

		table{
			margin:30px 0px;
			width: 100%;
			tr{
				border-bottom: 1px solid #ddd;
				&:nth-child(1){
					td{
						
						&:first-child{
							padding-left: 0px;
						    padding-right: 30px;
						    padding-top: 0px;
						    padding-bottom: 10px;
						}
						&:nth-child(2){
							padding-top:0px;
						    padding-bottom: 10px;
						}
						&:last-child{
							padding-right:0px;
							padding-left: 30px;
							padding-top: 0px;
						    padding-bottom: 10px;

						}
					}
				}
				&:nth-child(2){
					td{
						padding:10px;
						&:first-child{
							padding-left:0px;
							padding-right:30px;
						}
						&:nth-child(2){

						}
						&:last-child{
							padding-right:0px;
							padding-left:30px;
						}
					}
				}
				&:nth-child(3){
					td{
						&:first-child{
							padding-left: 0px;
						    padding-right: 30px;
						    padding-top: 10px;
						    padding-bottom: 0px;
						}
						&:nth-child(2){
							padding-bottom:0px;
						    padding-top: 10px;
						}
						&:last-child{
							padding-right:0px;
							padding-left: 30px;
							padding-top: 10px;
						    padding-bottom: 0px;

						}
					}
				}
				&:last-child{
					border-bottom: 0px;
				}
				td{
					border-right: 1px solid #ddd;
					
					font-size:13px;
					&:last-child{
						border-right: 0px;
					}
				}
			}
		}
		.buttons{
			display: inline-block;
		    width: 60%;
			@media (max-width:1230px) {
				margin:3px 0px;
			}
			
			.btn-detail.orange{
				margin-left:5px;
				text-align: center;
				width:45%;
				@media (max-width:1240px) {
					
					margin:0;
				}
			}
			.btn-detail.green{
				// margin-left:5px;
				text-align:center;
				width:45%;
				@media (max-width:1240px) {
					
					margin:0;
				}
			}
		}
		.bottom{
			a{
			font-size:12px;
			color:#8c8c8c;
				span{
					font-size: 20px;
					margin-right: 5px;
				}
			}
		}
	}

}
.fs-24{font-size:24px;}
.shared-acm{
	background-color:#fff;
	padding:35px 25px;    border: 1px solid #e2e2e2;    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
	.shred-box{
		padding-bottom: 25px;
	    margin-bottom: 25px;
	    border-bottom: 1px solid #e2e2e2;
		figure{
			img {border:1px solid #d0d0d0;width:240px;height:200px;float:left;}
		}
		.fs-13{font-size:13px;}
		.move-date{
			padding:15px 0px;
			li{
				span{
					color:#ef4523;font-size:16px;position: relative;top: 2px;margin-right:4px;
				}
				&:last-child{
					margin-left:30px;
				}
			}
		}
		.content{
			display:inline-block;    padding: 3px 20px;
			@media (max-width:1200px) {
				width:65%;
			}
		}
		
		.btn-detail{
			padding:6px 14px;
			width: 160px;
			text-align: center;
		}
		&:last-child{
			border-bottom:none;
			margin-bottom:0;padding-bottom:0;
		}
	}
	.shred-box-2{
		padding-bottom: 25px;
	    margin-bottom: 25px;
	    border-bottom: 1px solid #e2e2e2;
		.head{
			position: relative;
			img {border:1px solid #d0d0d0;margin-right: 20px;}
			ul{
				position: absolute;
				background: #00000042;
				width: 100%;
				bottom: 0;
				padding: 8px 0px;
				li{
					padding: 0px 6px;
					a{
						color:#fff;
						span{
							font-size: 16px;
						}
						&:hover{
							color:#ef4523;
						}
					}
					&:first-child{
						padding-left:15px;
					}
					&:last-child{
						float:right;
					}
				}
			}
		}
		
		
		.content{  padding: 8px 5px;
			ul{
				padding-left:20px;
				padding-top:15px;
			}
			.top-text{
				padding-bottom:15px;
				p+p{
					line-height:1;
				}

			}
			.foot{
				.btn-detail{
					&.one{
						width:110px;
					}
					width: 140px;
				    padding: 6px 0px;
				}
			}

		}
		
		
	}
}

.roommate{
	background-color:#fff;
	padding:5px 0px;       border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
	.shred-box{
		padding-bottom: 25px;
	    margin-bottom: 25px;
	    border-bottom: 1px solid #e2e2e2;
		figure{
			img {border:1px solid #d0d0d0;width:340px;height:425px;float:left;}
		}
		.fs-13{font-size:13px;}
		.move-date{
			padding:15px 0px;
			li{
				span{
					color:#ef4523;font-size:16px;position: relative;top: 2px;margin-right:4px;
				}
				&:last-child{
					margin-left:30px;
				}
			}
		}
		.content{
			display:inline-block;    padding: 15px;    min-height: 425px;    border-right: 1px solid #e2e2e2;
			@media (max-width:1200px) {
				width:60%;
			}
		}
		
		.btn-detail{
			padding:6px 14px;
			width: 160px;
			text-align: center;
		}
		&:last-child{
			border-bottom:none;
			margin-bottom:0;padding-bottom:0;
		}
	}
	.shred-box-2{
		padding-bottom: 25px;
	    margin-bottom: 25px;
	    border-bottom: 1px solid #e2e2e2;
		.head{
			position: relative;
			img {border:1px solid #d0d0d0;margin-right: 20px;}
			ul{
				position: absolute;
				background: #00000042;
				width: 100%;
				bottom: 0;
				padding: 8px 0px;
				li{
					padding: 0px 6px;
					a{
						color:#fff;
						span{
							font-size: 16px;
						}
						&:hover{
							color:#ef4523;
						}
					}
					&:first-child{
						padding-left:15px;
					}
					&:last-child{
						float:right;
					}
				}
			}
		}
		
		
		.content{  padding: 8px 5px;
			ul{
				padding-left:20px;
				padding-top:15px;
			}
			.top-text{
				padding-bottom:15px;
				p+p{
					line-height:1;
				}

			}
			.foot{
				.btn-detail{
					&.one{
						width:110px;
					}
					width: 140px;
				    padding: 6px 0px;
				}
			}

		}
		
		
	}
}
.fc-sblue{color:#a2d8ff;}

.fs-13{font-size:13px;}
.detail-shared{
	border:1px solid #e2e2e2;
	border-radius:5px;
	.first{
		padding:8px 15px;
		border-bottom:1px solid #e2e2e2;
		p {
			color:#4a64b0;
			display: inline-block;
			span{
				margin-right:5px;
			}
		}
		ul {
			display: inline-block;
			float: right;
			li{
				padding:0px 10px;
				a{
					color:#ef4523;
				}
				&:last-child{
					padding-right:0px;
					span{
						font-weight: 900;
					}
				}
			}
		}
	}
	.second-part{
		padding:8px 15px;
		.tip{
			position:relative;
			margin-right: 3px;
			overflow:hidden;
			
			.big-slider-2{
				img {width:731px;height:410px;border:1px solid #d8d8d8;}
			}
			.small-slider-2{
				img {    width: 125px;height: 80px; margin-bottom: 10px;border:1px solid #d8d8d8;}
				.slick-prev, .slick-next{

				}
				.slick-prev{   left: 30px;    top: -15px;
					&:before{
						content:'\e98b'; font-size:32px;   background: none;color:#000;

					}
				}
				.slick-next{   right: 93px;  bottom: -20px !important;	    top: unset;

					&:before{
						content:'\e98e';  font-size:32px;  background: none;color:#000;

					}
				}
				.slick-slider{
					button{

					}
				}
			}
		}
		.sli-bottom{
			li{

				&:first-child{
					color:#ef4523;
					font-size:16px;    font-weight: 600;    padding-right: 10%;
					span{
						font-size:22px;
						color:#ef4523;
						position: relative;top:0;left:0;
					}
				}
				font-size:12px;    padding-right: 25px;
				color:#073555;    font-weight: 600;
				span{
					font-size:26px;
					color:#073555;
					position: relative;
				    top: 5px;
				    left: 5px;
				}
			}
		}
		
		.right-contact{
			
			.head{
				padding:8px 0px;background-color:#073555;border-radius:4px;
			}
			.bottom{
				background-color:#f6f6f6;
				padding: 20px 12px;
				form{
					&.right-form{
						input {
							&[type=text], &[type=number], &[type=email], &[type=date] , &[type=time] , &[type=month] {
								height: 36px;
								border: 1px solid #e0e0e0;
								border-radius:0;
							}
						}
						select, textarea {
							height: 36px;
						    border: 1px solid #e0e0e0;
						    border-radius:0;

						}
						textarea {min-height: 120px;}
						.last{
							position: relative;
							.input{
								position:absolute;
								left:0;    top: 1px;
							}
							.lbl{
								padding-left:20px;
							}
						}
					}
					.btn-detail{
						padding:8px 0px;
						font-size:13px;
						
					}
				}
			}
		}
	}
}

.roomate-desc{
	border:1px solid #e2e2e2;
	padding: 15px 25px;
	border-radius:5px;
	.content{
		padding:15px 0px;

	}
	.map{
		.content{
			border:1px solid #e2e2e2;
			padding: 5px;
		}
	}
}



.useful-links{
	background:#fff;border:1px solid #e2e2e2;
	padding: 20px;border-radius:5px;
	.usef{
		border-bottom:1px solid #e2e2e2;padding-bottom: 10px;
    margin-bottom: 15px;    letter-spacing: 1px;line-height: 1;
	}
	ul{
		li{
			line-height:1.8;
			a{
				font-size:12px;color:#7a7a7a;
				&:hover{
					color:$theme-primary;
				}
			}
		}
	}
	@media (max-width:1200px) {
		display:inline-block;    width: 48%;
	}
}
.estate-links{
	background:#fff;border:1px solid #e2e2e2;
	padding: 20px;border-radius:5px;
	.usef{
		border-bottom:1px solid #e2e2e2;    padding-bottom: 10px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    line-height: 1;
	}
	ul{
		&.insider{
			padding-left: 10px;
			li {position:relative; display:block; padding-left:20px;font-size: 12px;
			    padding-top: 8px; line-height: 1.5;color:#7a7a7a;

			    &:last-child{
			    	padding-left:0px;
			    }
			    a{
			    	color:#7a7a7a;
			    	&.btn-detail.green{
			    		color:#fff;padding:4px 16px;
			    		&:hover{
			    			color:#4CAF50;
			    		}
			    	}
			    }
				span{
					position: absolute;
					left:0;    font-size: 16px;color:#4a4a4a;
					sup{
						position: absolute;
					    left: 5px;
					    color: #4CAF50;
					    font-size: 18px;
					    z-index: 20;
					}
				}
			}
		}
	}
	@media (max-width:1200px) {
		display:inline-block;    width: 48%;

	}
}
.aminities{
	border:1px solid #dde5eb;
	padding:20px 0px;    min-height: 100px;overflow:hidden;    border-radius: 5px;
	li{

		p{
			font-size:13px;
			display: table-cell;
			vertical-align: middle;
		}
		font-size:13px;
		font-weight:600;
		border-right:1px solid #dde5eb;
		padding: 10px 25px 10px 95px;
		line-height: 1.4;
		height: 55px;
		position: relative;
		display:table;
		&:last-child{
			border-right:0px;
		}
		span{
			position: absolute;
		    left: 30px;
		    color: #ef4523;
		    font-size: 48px;
		    top: 2px;
		    bottom: 0;
		    margin: auto;
		    line-height: 1;
		    padding: 0;
			@include transition(0.4s);
		}
		&:hover{
			span{
				color:#0f5687;
			}
		}
	}
}

.map-direct{
	margin: 25px 25px 5px;
	padding:30px 10px 10px;
	border:2px solid #f0f0f0;
	position: relative;
    overflow: hidden;
    min-height: 500px;
	.fc-primary{
		position: absolute;
	    right: 12px;
	    top:5px;
	    text-transform:uppercase;
	    text-decoration: underline !important;
	    line-height: 1.8;
	    z-index: 25;    background-color: #fff;
	}
}

.legal-detail{
	&.one{
		border-radius:5px;
		background-color: #fff;
	    border: 1px solid #e2e2e2;
	    .main{
	    	.ttc{
	    		border-right:1px solid #e2e2e2;
	    		padding: 20px 15px;
	    		.rating-stars {
	    			ul{
	    				    margin-right: 0px;margin-left: 10px;
	    				li{
	    					padding:0;
	    				}	
	    			}
	    			
	    		}
	    		.fb{
	    			color: #4a64b0;
	    		}
	    		ul{
	    			li{
	    					border:none;
	    				    padding: 0px 10px;
	    				    a{
	    				    	    color: #ef4523;
	    				    	    span{

	    				    	    }
	    				    }
	    			}
	    		}
	    		&:first-child{

	    			width: 32%;
	    			
	    		}
	    		&:last-child{
	    			border-right:none;    padding: 20px 0px;
	    		}
	    	}
	    }
	}
	&.two{
		border-radius:5px;
		background-color: #fff;
	    border: 1px solid #e2e2e2;
	    margin-top:20px;
	    .right-contact{
	    			padding-top: 15px;
	    	.head{
	    		padding:8px 0px;background-color:#073555;border-radius:4px;
	    	}
	    	.bottom{
	    		background-color:#f6f6f6;
	    		padding: 20px 12px 5px;
	    		form{
	    			&.right-form{
	    				input {
	    					&[type=text], &[type=number], &[type=email], &[type=date] , &[type=time] , &[type=month] {
	    						height: 36px;
	    						border: 1px solid #e0e0e0;
	    						border-radius:0;
	    					}
	    				}
	    				select, textarea {
	    					height: 36px;
	    				    border: 1px solid #e0e0e0;
	    				    border-radius:0;

	    				}
	    				textarea {min-height: 120px;}
	    				.last{
	    					position: relative;
	    					.input{
	    						position:absolute;
	    						left:0;    top: 1px;
	    					}
	    					.lbl{
	    						padding-left:20px;
	    					}
	    				}
	    			}
	    			.btn-detail{
	    				padding:8px 0px;
	    				font-size:13px;
	    				
	    			}
	    		}
	    	}
	    }
	    .left{
	    	padding:40px 10px ;
	    	.offer-list{
	    		padding-top:20px;
	    		li{
	    			position: relative;
	    			background-color: #f6f6f6;
	    			padding: 12px 0px;
	    			padding-left: 50px;
	    			margin-bottom: 3px;
	    			&:before{
	    				position: absolute;
	    				content:'\e99d';
	    				display: block;
	    				left:15px;
	    				font-size:18px;
	    				font-family:'Icomoon';
	    				top:8px;
	    				bottom:0;
	    				margin: auto;
	    				color: $theme-primary;    font-weight: 600;
	    			}
	    		}
	    	}
	    	.heading-main:after{
	    		right:0;
	    	}
	    }
	}
}
.prpx-0{
	padding-right:0px !important;
}
.trend{
	background-color:#fff;
	border:1px solid #e2e2e2;
	border-radius: 5px;
	padding: 30px 10px 0px;
	
}
.trend-detail{
	margin-top:15px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	.head{
		padding: 10px 25px;
		border-bottom: 1px solid #e2e2e2;
	}
	.bottom{
		padding:20px 20px;
		.left{
			width: 90px;
		    border: 1px solid #e2e2e2;
		    border-radius: 5px;
	        display: inline-block;
	        float: left;
	        margin-right: 15px;
			ul{
				li{
					text-align: center;
					padding: 8px 0px;
					a{
						font-size:12px;
						color:#000;
						font-weight:600;
					}
					&:nth-child(odd){
					    background: #fafafa;
					}
					&:nth-child(even){
					    background: #fff;
					}

				}
			}
		}
		.right{
			width: 90%;
		    border-radius: 5px;
	        display: inline-block;
	        border: 1px solid #e2e2e2;
	        table{
	        	margin-bottom:0px;
	        	thead{
					border: none;
	        		th{
						text-align: center;
						padding: 10px 0px;
						border: none;
						border-bottom: 1px solid #e2e2e2;
						border-right: 1px solid #e2e2e2;
						font-size: 12px;
						color: #073556;
						&:last-child{
							border-right: none;
						}
	        		}
	        	}
				tbody{
					border: none;
		        	tr{
		        		
		        		&:first-child{
		        		    background: #fff !important;
		        		}
		        		&:nth-child(odd){
		        		    background: #fcfcfc;
		        		}
		        		&:nth-child(even){
		        		    background: #fff;
		        		}
		        		
		        		td{
							padding: 20px 0px;
							border: none;
							border-right: 1px solid #e2e2e2;
							height: 60px;
							padding-left: 30px;
							&:first-child{
			        		    color: #838383 !important;
			        		    padding-left: 0px;
		        		        text-align: center;
			        		}
			        		&:nth-child(2){
			        		    color: #084b78 !important;
			        		}
			        		&:nth-child(4){
			        		    padding-left:0px;
			        		}
			        		&:nth-child(5){
			        		    text-align: center;
			        		    padding-left:0px;
			        		    color:#838383;
			        		    p{
			        		    	color:$theme-primary;
			        		    	font-weight:600;
			        		    	font-size:20px;
			        		    	position: relative;
			        		    	top: -5px;
			        		    	span{
			        		    		position: absolute;
			        		    		    bottom: 3px;
			        		    	}
			        		    }
			        		}
						    &:last-child{
						    	border-right: none;
						    }
		        		}
		        	}
		        }
	        }
		}
	}
	.city{
		padding: 10px 25px;
	    border-bottom: 1px solid #e2e2e2;
	    margin-bottom: 20px;
	}
	.td-detail{
		padding:10px 20px;
		.small-table{
			border:1px solid #e2e2e2;
			border-radius:5px;
			table{
				width:100%;
			    height: 280px;
				thead{
					border-bottom:1px solid #e2e2e2;
					background-color:#f8f8f8;
					padding:8px 0px;
					tr{
						th{
							padding:8px 0px;
							color:$theme-primary;
							font-weight:400;
							&:nth-child(3){
								width:35%;

							}
						}
					}
				}

				th{
					&:first-child{
						text-align: center;
					}
					&:nth-child(2){
						padding-left:50px;
					}				
				}
				td{
					padding:10px 10px;
					&:first-child{
						text-align: center;
					}
					&:nth-child(2){
						padding-left:50px;
					    color: #184260;
					}
					&:last-child{
						text-align: center;
						color: #494949;
					}
				}
			}
		}
		
	}
}
.acco{
	li{
		a{
				color:#262626;
			}
		&.drop{
		position: relative;
		padding: 10px 15px 10px 30px;
		&:before{
			position: absolute;
			content:'\e929';
			display: block;
			font-family: 'Icomoon';
			font-size:16px;
			left: 15px;
		    top: 7px;
		    @include transition(0.4s);
		    cursor: pointer;
		}
		&.rotate{
			&:before{
				@include transform(rotate(90deg));
				color: #828686;
			}
		}
			ul{
				display: none;
			    padding-top: 5px;
			    li{
			    	padding:5px 10px;
		    	    margin-bottom: 0px;
		    	    position: relative;
		    	    background: transparent;
		    	    a{
		    	    	color:#7a7a7a;
		    	    }
			    }
			    &.dotted{
					li{
						a{
			    	    	color:#7a7a7a;

			    	    }
						padding-left:15px;
						padding-bottom: 0px;
						padding-top: 0px;
						&:before{
							content:'';
							display: block;
							background-color:#7a7a7a;
							height:5px;
							width:5px;
							border-radius:50%;
							left:5px;
							position: absolute;
							top:0;bottom:0;
							margin: auto;
						}
					}
			    }
			}
		}
	}
}
.social-buttons{
	background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 35px 0px 35px 10px;
    margin: 0;
    border-top: 0px;	
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.filter{
	display: none;

	&.show{
		display: block;
	}
}
.premium-agencies{
	.premium-agency-slider{
		position: relative;
		padding-bottom: 15px;
	    margin-bottom: 15px;
		&:after{
		position: absolute;
		content:'';
		display: block;
		width:75%;
		height:1px;
		// background-color:#e2e2e2;
		left:0;
		right:0;
		margin: auto;
		border: 1px dashed #e2e2e2;
	    bottom: 0;

		}
		&.two{
			padding-bottom:0;
			margin-bottom:0;
			&:after{
				display: none;
			}
		}

		.slick-prev{    left: -45px;}
		.slick-next{    right: -40px;}
		.slick-prev:before, .slick-next:before{
			background-color:#073555;
			opacity: 1;
			color:#fff;
			padding:0;

		}
	}
	ul{
		&.paik{
			li{
				border:1px solid #e2e2e2;
				padding: 3px 5px;
			    margin-right: 8px;
			    margin-bottom: 8px;
			    &:nth-child(8){
			    	margin-right:0px;
			    }
			    &:last-child{
			    	margin-right:0px;
			    }
				img{

				}
			}
		}
	}
}
.auc-detail{
	background-color:#fff;
	border:1px solid #e2e2e2;
	border-radius:5px;

	.first{
		// padding:8px 15px;
		border-bottom:1px solid #e2e2e2;
		padding: 10px 15px;

		p {
			color:#4a64b0;
			display: inline-block;
			span{
				margin-right:5px;
			}
		}
		ul {
			display: inline-block;
			float: right;
			li{
				padding:0px 10px;
				a{
					color:#ef4523;
				}
				&:last-child{
					padding-right:0px;
					span{
						font-weight: 900;
					}
				}
			}
		}
	}
	&.pro{
		padding:30px 20px;
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;

		.prop-table{
			tr{
				border-bottom:2px solid #fff;
				td{
					color:#5a5a5a;
					padding:10px 20px;
					&:nth-child(even){
						background-color:#fafafa;
						padding-left: 60px;
					}
					&:nth-child(odd){
						background-color:#f6f6f6;	
						padding-left: 30px;
					}
				}
			}
			&.sec{
				tr{
					td{
						&:nth-child(odd){
							padding-left:20px;
						}
						&:nth-child(even){
							padding-left:30px;
						}
					}
				}
			}
		}
		.event-table{
			tr{
				border-bottom:2px solid #fff;
				td{
					color:#5a5a5a;
					padding:10px 0px;
					&:nth-child(even){
						background-color:#fafafa;
						padding-left: 40px;
					}
					&:nth-child(odd){
						background-color:#f6f6f6;
						padding: 8px 0px 5px;
						.ico{
							font-size: 24px;
							color: #073555;
							font-weight: 600;
						}	
					}
					&.no-bg{
						background-color: transparent;
					}
				}
				&:last-child{
					border-bottom:none;
				}
			}
		}
	}
	&.pro-2{
		padding:30px 20px 30px;
		border-top:0px;
		border-top-left-radius:0px;
		border-top-right-radius:0px;

		.btn-detail{
			padding: 8px 15px;
			font-size: 13px;
			width: 23%;
			background-color:$theme-primary;
			border:1px solid transparent;
			position: relative;
			span{
				position: absolute;
				font-size: 22px;
				left: 50px;
				top: 5px;

			}
			&:hover{
				background-color:#fff;
				color:$theme-primary;
				border:1px solid $theme-primary;
			}
		}
	}
}
.hp{
	.about-us{
		ul{
			li{
				width: 18%;
			    text-align: center;
			}
		}
	}
}
.map-by-location{
	background-color:#fff;
	border:1px solid #e2e2e2;
	border-radius:5px;
	.head{
		padding:25px 0px 15px;
		border-bottom: 1px solid #e2e2e2;
		.middle-form{
			form.form-1{
				select{
					border-color:#dcdcdc;
					background-color:#f8f8f8;
					color: $theme-secondary;
					&.two{
						border-bottom-left-radius:0px;
						border-top-left-radius:0px;
						border-right: 1px solid #dcdcdc;
					    border-bottom-right-radius:5px;
					    border-top-right-radius:5px;
					}
				}
				input [type=text] {
					border-color:#dcdcdc;
					background-color:#f8f8f8;
				}
			}
		}
		
	}
	.bottom{
		padding:50px 0px;
		.total-map{
			border:1px solid #e2e2e2;
			position: relative;
			overflow: hidden;
			ul{
				background-color:#e2e2e2;
				border-bottom:1px solid #e2e2e2;
				li{
					padding:10px 15px;
					color:#616161;
					cursor: pointer;
					text-align: center;
					width: 28%;
					display: inline-block;
					&.current{
						background-color:$theme-primary;
						color:#fff;
					}
				}
			}
			.main-maps{
				padding:40px 100px;
			}
		}
	}
}

.smaller-agent-banner{
	background-size: cover !important;
    width: 100%;
    height: 244px;
    margin-top: 15px;
    .pro{
    	height:244px;
    }
}

.prop-table{
		tr{
			border-bottom:2px solid #fff;
			td{
				color:#5a5a5a;
				padding:10px 20px;
				&:nth-child(even){
					background-color:#fafafa;
					padding-left: 60px;
				}
				&:nth-child(odd){
					background-color:#f6f6f6;	
					padding-left: 30px;
				}
				
			}
		}
	&.ag-d{
		tr{
			td{
				position: relative;
				padding-left: 50px;

				span{
					color: $theme-primary;
					position: absolute;
					font-size: 28px;
					left: 15px;
					top: 6px;					
				}
			}
		}
	}
	
}

.butons{
	&.bord{
		.btn-orange:hover{
			border-bottom-left-radius:5px;
		}
		.btn-blue:hover{
			border-bottom-right-radius:5px;	
			border-bottom-left-radius:0px;
		}
	}
}
.agent-detail{
	.estate-links{
		@media (max-width: 1200px){
			width:100%;	
		}		
	}
}
.login-de{
	padding:30px 50px;
	.bottom{
		padding: 0px 12px;
		.button-soc{
			border-radius:5px;
			margin:0;
			display:block;
			&:before{
				font-size:20px;
			}
			&.facebook{
				&:before{
					top: 7px;
				    left: 55px;
				}
			}
			&.google{
				&:before{
					top: 7px;
				    left: 55px;
				}
			}
		}
	}
}
.pro-detail{
	.roomate-desc{
		.prop-table{
			tr{
				td{
					padding:10px 5px 10px 20px;
					&:nth-child(odd){
						width:28%;
					}
					&:nth-child(even){
						width:72%;
						font-weight: 600;
					}
				}
			}
			&.buy-pa{
				tr {
					border-bottom: 15px solid #fff;
					td{
						font-size:15px;
						color:#2e2e2e;
						&:nth-child(odd){
							background-color:#f6f6f6;
							border-right: 2px solid #fff;
							font-weight: 600;
						}
						&:nth-child(even){
							background-color:#f3f6f8;
						}
					}
					&:last-child{
						border-bottom:2px solid #fff;
					}
				}
			}
			
		}
		.salient-features{
			li{
				padding-left:20px;
				position: relative;
				font-size:13px;
				color:#585858;
				line-height: 2;
				&:before{
					position: absolute;
					left:8px;
					top:0;
					content:'\e929';
					font-size:14px;
					font-family:'Icomoon';
					color:#585858;

				}
			}
		}
		.stripper{
			li{
				position:relative;
				padding:12px 30px 12px 50px;
				background-color:#f6f6f6;
				margin-bottom:12px;
				font-weight: 500;
			    color: #000;
				&.w-66 {
				    width: 66.5%;
				}
				span{
					color: #1c5f8f;
				    font-size: 24px;
				    position: absolute;
				    left: 15px;
				}
				b{
					color:#1c5f8f;
				}
			}
		}
		.map-direct{
			 margin: 0px; 
			padding: 20px 20px 12px;
		}
	}
	
}

#more-button{
	display:inline-block;
	width: 130px;
	padding: 8px 8px;
	font-size: 13px;
	float: right;
	background-color:#0a426a;
	color:#fff;
}

#grow input:checked{
    color:red;
}


#grow {
    // -moz-transition: height .5s;
    // -ms-transition: height .5s;
    // -o-transition: height .5s;
    // -webkit-transition: height .5s;
    // transition: height .5s;
    @include transition(height .8s);
    height: 0;
    overflow: hidden;
  }