footer.primary{
	background-size:cover !important;
	background-repeat:no-repeat !important;
	background-position:center !important;
	// height:290px;
	padding: 50px 0px 20px;
	border-top: 1px solid #d6d6d6;
	.head{
		position:relative;
		padding-bottom: 10px;
		margin-bottom: 20px;
		text-transform:uppercase;
		&:after{
			position:absolute;
			content:'';
			display:block;
			left:0;
			width:90%;
			height:1px;
			background-color:#e3e3e3;
			bottom:0;
		}
		&:before{
			position:absolute;
			content:'';
			display:block;
			left:0;
			width:8%;
			height:5px;
			background-color:#ef4523;
			bottom: -1.5px;
		    z-index: 1;
		}
	}
	ul.first{
		li{
			font-size:13px;
			color:#969696;
			position:relative;
			padding-left:38px;
			margin-bottom: 6px;
			line-height: 2.4;			
			span{
				position:absolute;
				left:0;
				background-color:#ee5d30;
				color:#fff;
				width:32px;
				height:32px;
				border-radius:50%;
				text-align:center;
				padding-top: 8px;
				font-size: 16px;
			}
		}
	}
	ul.second{
		li{
			
			position:relative;
			padding-left: 15px;
			padding-bottom: 2px;
			@include transition(0.5s);
			&:last-child{
				padding-bottom:0px;
			}

			&:before{
				position:absolute;
				content:'\e929';
				display:block;
				font-size:14px;
				font-family:'Icomoon';
				left:0;
				top:0;
				bottom:0;
				margin: 0 auto;
				color:#969696;
				@include transition(0.5s);
			}	
			a{
				font-size:13px;
				color:#969696;
			}
			&:hover{
				&:before{
					color:#ef4523;
					left:3px;
				}
				a{
					color:#ef4523;
				}
			}
		}
	}
	ul.social{
		li{
			display:inline-block;
			width:30px;
			// height:30px;
			text-align:center;
			border-bottom:4px solid;
			padding-top: 5px;
			margin-right:13px;
			&:nth-child(1){
				background-color:#5e83c6;
				border-color:#4d75bf;
			}
			&:nth-child(2){
				background-color:#e15f53;
				border-color:#dc4335;
			}
			&:nth-child(3){
				background-color:#33b9ff;
				border-color:#00a8ff;
			}
			span{
				color:#fff;
				font-size: 16px;
			}
		}
	}
	.app-btns{
		a{
			img{
				margin-top:10px;
			}
		}
	}
}
footer.copyright{
	padding:30px 0px;
	background-color:#073555;
	ul{
		li{
			border-right:1px solid #fff;
			line-height: 1;
			padding: 0px 5px 0px 1px;
			a{
				color:#fff;
				
			}
			&:last-child{
				border-right:none;
			}
		}
	}
	p{
		color:#94c1e0;
	}
}

.btn-email{
	padding:5px 10px;
	color:#fff;
	display:inline-block;
	background-color:#bd0b2f;
	text-align:center;
	border:1px solid transparent;
	border-radius:4px;
	width:30%;
	transition:0.6s;
	&:hover{
		background-color:transparent;
		border:1px solid #bd0b2f;
	}
}
.br-right{
	    border-right: 1px solid #e2e2e2;
}