/**** Form Styling Default ****/
form input:-webkit-autofill, form textarea:-webkit-autofill, form select:-webkit-autofill {
	background: transparent !important; }
form input::-webkit-input-placeholder {
	color: $theme-grey; }
form input:-moz-placeholder {
	color: $theme-grey; }
form input::-moz-placeholder {
	color: $theme-grey; }
form input:-ms-input-placeholder {
	color: $theme-grey; }
form textarea::-webkit-input-placeholder {
	color: $theme-grey;
	font-family: $base-font-family; }
form {
	.control-group {
		margin-bottom: 10px;
		position: relative;
		i.icon{
			position: absolute;
			left: 10px;
			top: 0;
			height: 18px;
			bottom: 0;
			margin: auto;
		}
		&.textarea{
			i.icon{
				top: 10px;
				bottom: auto;
			}
		}
	}
	input {
		&[type=text], &[type=number], &[type=email], &[type=date] , &[type=time] , &[type=month] , &[type=password] {
		    color: #777777;
		    padding: 12px;
		    height: 44px;
		    width: 100%;
		    background: #fff;
		    border: 1px solid #768a98;
		    box-shadow: none;
		    -webkit-appearance: none;
		    border-radius: 5px;
		    font-family: $base-font-family;
			

		}
	}
	
	input[type="submit"], button[type="submit"]{
		// border: none;
		cursor: pointer;
	}
	
	select, textarea {
		    color: #666666;
		    padding: 10px;
		    height: 44px;
		    width: 100%;
		    background: #fff;
		    border: 1px solid #768a98;
		    box-shadow: none;
		    line-height: 38px;
		    border-radius: 5px;
	        font-family: $base-font-family;
		
	}
	.codearea {
		float: left;
		width: 28%;
		position: relative;
	}
	.numberarea {
		float: right;
		width: 70%;
		position: relative;
		input{
			padding-left: 10px;
		}
	}
	textarea {
		resize: none;
		min-height: 140px;
	}
	input {
		&.error {
			border-color: #bd0b2f !important;
		}
	}
	select.error, textarea.error {
		border-color: #bd0b2f !important;
	}
	label.error {
		display: none !important ;
		font-size: 12px;
		color: #ee1b24;
	}
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			-moz-appearance:textfield;
	}
	/**** If you are using Multi Select Country then use this styling ****/
	select.countrylist.multi {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}
}


form{
	&.form-1{
		padding:15px 12px;
		position:relative;
		a{
			// position:absolute;
			// right: 26px;
			// bottom: 0px;
			span{
				padding-right:5px;
			}
		}
		.mar{
			margin-left:-4px;
		}
		input{
			&[type=text]{
			// border-right: none;
		    border-top-left-radius: 0px;
		    border-bottom-left-radius: 0px;
		    }
		}
		select{
			color:#000;
			border-right: none;
		    border-top-right-radius: 0px;
		    border-bottom-right-radius: 0px;
		}
		input{
			&[type=submit]{
				width:100%;
		    }
		}
	}

	&.career-form{
		input {
			&[type=text], &[type=number], &[type=email], &[type=date] , &[type=time] , &[type=month] , &[type=password] {
				border-color:#e0e0e0;
				border-radius:0px;
			}
		}
		.upload-btn-wrapper {
		  position: relative;
		  overflow: hidden;
		  display: inline-block;
		}

		.btn {
		  border: 2px solid #a5a5a5;
		  color: #3b3b3b;
		  background-color: #eaeaea;
		  padding: 8px 25px;
		  border-radius: 0px;
		  font-size: 12px;
		  font-weight: bold;
		}

		.upload-btn-wrapper input[type=file] {
		  font-size: 32px;
	      position: absolute;
	      left: 0;
	      top: 0;
	      opacity: 0;
	      width: 160px;
	      cursor: pointer;
		}
		select, textarea {
			border-color:#e0e0e0;
			border-radius:0px;
		}
		label{
			font-size:13px;
		}
		.btn-secondary{
			border:1px solid $theme-primary;
			padding: 6px 30px;
			border-radius: 3px;
		}
	}
}

