$gutter : 30px;

.grid-block{
	overflow: hidden;
	@include unstyled;

	> * {
		float: left;
		@include box-sizing;
	}

	&.\--type-inline-blocks{
		> * {
			float: none;
			display: inline-block;
			vertical-align: top;
			margin-left: -5px;
		}		
	}

	&.\--type-two-blocks{
		> * {
			width: 50% !important;
		}	
	}

	&.\--type-three-blocks{
		> * {
			width: 33.333% !important;
		}		
	}

	&.\--type-four-blocks{
		> * {
			width: 25% !important;
		}
	}

	&.\--type-five-blocks{
		> * {
			width: 20% !important;
		}		
	}

	&.\--type-six-blocks{
		> * {
			width: 16.6667% !important;
		}		
	}

	&.\--style-offsets{
		margin-left: -$gutter;
		> * {
			padding-left: $gutter;
			@media (max-width:991px){
				padding-left:0;
			}
			@media (max-width:767px){
				padding-left:0;
			}
		}

		&.\--offsets-small{
			margin-left: -20px;
			@media (max-width:535px){
				margin-left:0;
			}
			> * {
				padding-left: 20px;
				@media (max-width:767px){
					padding-left:0;
				}
			}
		}
	}

	&.\--style-bottom-offsets{
		> * {
			margin-bottom: 50px;
		}
		&.\--bottom-offsets-small{
			> * {
				margin-bottom: 20px;
			}
		}
	}
	@media (max-width: 991px){
		&.\--grid-ipad-full{
			> *{
				width: 100% !important;
			}
		}

		&.\--grid-ipad-half{
			> *{
				width: 50% !important;
			}
		}
	}
	@media (max-width: 767px){
		&.\--grid-mobile-full{
			> *{
				width: 100% !important;
			}
		}

		&.\--grid-mobile-half{
			> *{
				width: 50% !important;
			}
		}
	}
}

ul.grid-block{
	@include unstyled;
}