header.primary{
	background-repeat-x: no-repeat !important;
	background-repeat-y: no-repeat !important;
	background-position-x: 55% !important;
	
	width: 100%;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 12px;
	padding-top: 10px;


		nav.primary{
		    display: -webkit-inline-box;
		    // float:right;
		.list-left{
			// padding-top:5px;
			// display: inline;
			float: left;
			width:70%;
			li{
				// border-right:1px solid #fff;
				line-height:1;
				padding:0px 13px;
				position: relative;
				display: inline;

				&:after{
					position: absolute;
					display: block;
					content: '';
					background-color: #fff;
					height: 10px;
					width: 1px;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}

				a{
					color:#fff;
					font-size: 12px;
					   text-transform: uppercase;

					
					span{
						color:#f3c206;
						position: relative;
						top: 1px;
						left: -5px;
					}

				}
				&:last-child{
					padding-right:0px;
					&:after{
						display:none;
					}
				}
			}
		}
		.login-panel{
			padding-left:40px;
			
			li{
				&:first-child{
					padding-right:0px;
					padding-left: 30px;
					a{
						span{
							padding:0px 2px;
							color:#ef4523;
							position: relative;
							    top: 2px;
							    left: 0px;
						}
					}
				}
				&:nth-child(2), &:nth-child(3){
					a span{
						top:5px;
					}
				}
				padding:0px 10px;
				a{
					color:#fff;font-size:12px;
					span{
						padding: 0px 5px;
						color:#5eb3ee;
					}
				}
			}
		}
		
	}
	nav.secondary{
		margin-top: 40px;
	    padding-top: 10px;
		ul{

			li{
				position: relative;
				padding: 0px 12px;
			    line-height: 1;
			    @media (max-width:1200px) {
			    	padding:0px 8px;
			    }
			    @media (max-width:1340px) {
			    	padding:0px 8px;
			    }
			    &:nth-child(5){
			    	span{
			    		padding-left: 5px;
		    		    position: relative;
		    		    top: 0px;
		    		    font-size: 14px;
		    		    color: #ef4524;

			    	}
			    }
				&:after{
					position: absolute;
					content: '';
					display: block;
					width: 1px;
					height: 22px;
					background-color: #d2d2d2;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
				a{
					font-size:12px;
				    font-weight: 600;
				    padding-bottom: 2px;
				}
				&:last-child{
					&:after{
						display:none;
					}
				}
				
			}
		}
		.btn-secondary{
			position: relative;
		    top: -5px;
		    margin-left: 12px;
		   padding: 6px 15px;
	       text-transform: uppercase;
	       border: 1px solid transparent;
		    span{
		    	position:relative;
		    	font-size: 14px;
	    	   line-height: 1;
	    	   top: 2px;
	    	   padding-right: 4px;
		    }
		    &:hover{
		    	border:1px solid $theme-primary;
		    }
		}
	}




}

.login-form{position: relative;
	
}

.log-form .inner-log{position: absolute;
    background-color: #fff;
    width: 304px;
    display: none;
    min-height: 420px;
    z-index: 9999;
    right: 10px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding:15px 15px;
	top: 32px;
	text-align:center;
	&:before{
			position:absolute;
			content:'';
			display:block;
			width: 0;
		     height: 0;
		     border-left: 7px solid transparent;
		     border-right: 7px solid transparent;
		     border-bottom: 10px solid #fff;
		     top: -10px;
		     right: 25px;	
		}
.log-form .inner-log .bui{
	position:relative;

}

	form.hlogin-form{
		 input::-webkit-input-placeholder {
			color: #a5a5a5; }
		 input:-moz-placeholder {
			color: #a5a5a5; }
		 input::-moz-placeholder {
			color: #a5a5a5; }
		input:-ms-input-placeholder {
			color: #a5a5a5; }
		textarea::-webkit-input-placeholder {
			color: #a5a5a5;
		}
		
			input {
				&[type=password], &[type=email]{
					border-radius:0px;
					border-color:#e0e0e0;
					height:35px;

				}
			}

			input[type="submit"], button[type="submit"]{
				border: none;
				cursor: pointer;
			}
			.dow{
				position:relative;
				&:after{
					position:absolute;
					content:'\e98c';
					display:block;font-family:'icomoon';
					font-size: 25px;
				    color: #fff;
				    top: 9px;
				    right: 32%;

				}
				&:hover{
					&:after{
						color:$theme-primary ;
					}
				}
				.btn-orange{
					border-radius:5px;
					border:1px solid transparent !important;
					text-transform:uppercase;
					font-size:13px;
					padding: 8px 12px;
					&:hover{
						border:1px solid $theme-primary  !important;
					}
				}
			}

			
				
	}
	.grid-block{
		a{
			color:#5670a6 !important;
			font-weight:600;
		}
		input[type=checkbox]{
			margin: 3px 5px 0px 0px;
			    margin-top: 1px\9;
			    line-height: normal;
			    position: relative;
			    top: 2px;
		}
	}
	.butons{
		position:relative;    padding-top: 40px;
		&:after{
			position:absolute;
			content:'';
			display:block;
			width:304px;
			height:1px;
			background-color:#e2e2e2;
			left:-16px;
			top:0;
		}
		&:before{
			position: absolute;
		    content: 'OR';
		    display: block;
		    width: 32px;
		    height: 32px;
		    background-color: #e2e2e2;
		    left: 0;
		    right: 0;
		    top: -15px;
		    color: #979797;
		    text-align: center;
		    border-radius: 50%;
		    padding-top: 6px;
		    margin: auto;
		    z-index: 2;
		}
		a{
			span{
				color:#fff ;
			}

		}
		.a3{
			color: #ef4523 !important;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
	

   }
.disp{display: block !important;}


