.tabbing-links{
	li{
		
		&.current{
			a{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5eb116+1,4a910c+100 */
			background: #206494; /* Old browsers */
			background: -moz-linear-gradient(top, #206494 1%, #206494 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #206494 1%,#206494 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #206494 1%,#206494 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206494', endColorstr='#206494',GradientType=0 ); /* IE6-9 */
			border-radius:5px;
			}
		}
	}
}

.breadcrumb li{
	&:last-child{
		color:#000;
	}
}
.border-dashed{
	border-bottom: 1px dotted #a0a0a0;
	margin: 20px 0px;
	padding: 10px 0px;
}
.border-l{
	border-left: 1px solid #e2e2e2;
}
.border-r{
	border-right: 1px solid #e2e2e2;
}
.border-b{
	border-bottom: 1px solid #e2e2e2;
}
.about-us{
	ul{
		border:1px solid #e2e2e2;
		border-radius:5px;
		box-shadow: 0px 2px 7px -2px #9E9E9E;
		li{
			border-right:1px solid #e2e2e2;
			font-size:13px;
			border-bottom:3px solid transparent;
			padding:12px 20px 10px;
			cursor:pointer;
			&.current{
				border-bottom:3px solid $theme-primary;
				color:$theme-primary;
			}
			&:hover{
				border-bottom:3px solid $theme-primary;
				color:$theme-primary;
			}
		}
	}
}
.career-page, .about-page{
	.detail{
		padding:50px 15px 80px;
		border:1px solid #e2e2e2; 
		margin-top:15px;
		border-radius:5px;
		// min-height: 1060px;
		&.career{
			padding:50px 15px 80px 20px;
		}
	}
}

.terms{
	border:1px solid #e2e2e2; 
	margin-top:15px;
	border-radius:5px;
	&.help{
		padding: 15px 25px;
		margin-top:0px;
		.accordion{
			padding: 10px 0px 10px;
			ul{
				li{
					div{
						position: relative;
						padding: 15px 10px 20px 30px;
						border: 1px solid #dcdcdc;
						border-radius:5px;
						margin-left: 10px;
						&:after{
							position: absolute;
							left: -20px;
							content: 'A';
							background-color: $theme-secondary;
							padding: 10px 16px;
							text-align: center;
							color: #fff;
							border-radius: 5px;
							top: 18px;
							font-size:16px;
						}
					}
					h5{
						position: relative;
						padding-left:40px;
						&:after{
							position: absolute;
							left: -10px;
							font-size:16px;
							content: 'Q';
							background-color: #ef4523;
							padding: 13px 14px;
							text-align: center;
							color: #fff;
							border-radius: 5px;
							top: -2px;
						}
					}
				}
			}
		}
	}
	.first{
		border-bottom:1px solid #e2e2e2;
		padding: 30px 20px;
		margin-bottom: 10px;
	}
	// .accordian{
	// 	padding:20px 20px 20px;
	// 	.acc-container {
	// 	  width:100%;
	// 	  overflow:hidden;
	// 	  height: 880px;
	// 	}

	// 	.acc-btn { 
	// 	  width: 100%;
	// 	  margin: 7px 0px 7px;
	// 	  padding: 8px 18px;
	// 	  cursor: pointer;
	// 	  color: #2a2a2a;
	// 	  background: #f8f8f8;
	// 	  border: 1px solid #dcdcdc;
	// 	  border-radius: 5px;
	// 	  p{
	// 	  	font-weight:600;
	// 	  	position:relative;
	// 	  	span{
	// 			position:absolute;
	// 			display:block;
	// 			font-size: 14px;
	// 			right: -5px;top:11px;
	// 			&:before, &:after {
	// 		       background: #2a2a2a;
	// 		       bottom: 0;
	// 		       content: '';
	// 		       margin: auto;
	// 		       position: absolute;
	// 		       top: 0;
	// 		     }
				     
	// 		     &:before {
	// 		       height: 15px;
	// 		       right: calc(.25em + 9px);
	// 		       transition: height .2s ease-in-out;
	// 		       width: 3px;
	// 		     }
			     
	// 		     &:after {
	// 		       height: 3px;
	// 		       width: 15px;
	// 		       right: .45em;
	// 		     }
	// 		     &.minus{
	// 		     	&:before{
	// 					height: 3px;
	// 					width: 15px;
	// 					right: .45em;
	// 					transition: 0.3s ease-in-out;
	// 		     	}
	// 		     }

	// 	  	}
	// 	  }
	// 	  &.plus{
	// 	  	p{
	// 	  		span{
	// 	  			&.minus{
	// 	  				&:before{
	// 					height: 3px;
	// 					width: 15px;
	// 					right: .45em;
	// 					transition: 0.3s ease-in-out;
	// 			     	}
	// 	  			}
	// 	  		}
	// 	  	}
	// 	  }
	// 	}

	// 	.acc-content {
	// 	  height:0px;
	// 	  width:100%;
	// 	  margin:0 auto;
	// 	  overflow:hidden;
	// 	  background:transparent;
	// 	}

	// 	.acc-content-inner {
	// 	  padding:10px 2px;
	// 	}

	// 	.open {
	// 	  height: auto;
	// 	}
	// 	.selected {
	// 	  color:$theme-dgrey;
	// 	}
	// }

	.accordion{
	  padding:20px 20px 20px;
	}

	.accordion ul {
	  // border-bottom: #ecebe9 solid 1px;
	  margin: 0;
	  padding: 0;
	}
	.accordion ul li {
	  // border-left: #ecebe9 solid 1px;
	  // border-right: #ecebe9 solid 1px;
	  // list-style: none;
	  // margin: 0;
	}
	.accordion ul li h5 {
	  width: 100%;
	  margin: 7px 0px 15px;
	  padding: 12px 18px 10px;
	  cursor: pointer;
	  color: #2a2a2a;
	  background: #f8f8f8;
	  border: 1px solid #dcdcdc;
	  border-radius: 5px;
	  position: relative;
	}
	.accordion ul li h5.plus {
	  border-bottom: 1px solid  #dcdcdc;
	  background: #f8f8f8;
	  color: #2a2a2a;
	}
	.accordion ul li > div {
	  // width: 100%;
	  // margin: 0 auto;
	  // overflow: hidden;
	  // background: #fff;
	  // border: 1px solid #dcdcdc;
	  // padding: 20px 30px;
	  // border-radius: 5px;
	  padding: 0px 10px 10px;

	}
	.accordion ul li > div a {
	  color: #7f0a19;
	}
	.accordion ul li h5:before {
	  content: "\e93b";
	  font-family: 'Icomoon';
	  // background: #777;
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  right: 15px;
	  top: 10px;
	  transition: all 0.3s ease-in-out 0s;
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  -o-transition: all 0.3s ease-in-out 0s;
	  font-size: 12px;
	  color: #000;
	  text-align: center;
	  line-height: 20px;
	}

	.accordion ul li h5.plus:before {
	  content:"\e936";
	}
	
}

.auction-slider{
	.slick-prev {
	    left: 5px;
	    z-index: 99;
	}
	.slick-next {
	    right: 60px;
	}
	.slick-prev:before, .slick-next:before{
		background:transparent;
		font-size:54px;    line-height: 0.3;
		color:#fff;opacity:1;
	}
}

/*Accordion Css*/
.acco-head { 
    border:1px solid #666; 
    padding: 10px; 
    cursor: pointer;
}

div.contint { 
    background-color: #ccc; 
    padding:10px; 
    display:none; 
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  float: left;
  margin-right: 15px;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:14px; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}






