.app-container{
    position: relative;
    left: 0;
    @include transition(0.6s);
    &.active{
        left: -80%;
    }
}

/**** Mobile Navigation ****/
.mobile-nav{
    position: fixed;
    @include size(80%, 100%);
    overflow-y: auto;
    top: 0;
    right: -80%;
    z-index: 12;
    background:$theme-white;
    @include transition(0.6s);
    overflow: hidden;

	.logo{
		padding:10px;
	}
    &.active{
        height: 100%;
        right: 0;
    }

    nav{
        height: 100%;
        overflow: scroll;
        margin-right: -10px;
        background-color: #80984a;
        li{
            a{
                color: #fff;
                font-weight: 500;
                display: block;
                padding: 10px 24px;
                border-top: 1px solid #d6d8db;
                @include transition(0.4s);
                &.active{
                    color: $theme-white;
                    background: $theme-primary;
                }
                .xicon{
                    font-size: 20px;
                    float: right;
                }
            }

            ul{
                display: none;
                background: $theme-white;
                li{
                    a{
                        font-weight: 500;
                        font-size: 12px;
                        &:hover, &.active{
                            background: transparent;
                            font-weight: 600;
                            color: $theme-default;
                        }
                    }
                }

                &.dropdown{
                    margin-left: 40px;
                    display: none;

                    a{
                        font-size: 12px;
                        border: none;
                        padding: 10px 0px;
                        &:hover{
                            color: $theme-black;
                            background: transparent;
                        }
                    }
                }
            }
        }

        .extra-link{
            a{
                border: 2px solid $theme-black;
                width: 40%;
                margin: 40px auto 10px;
                padding: 7px 0;
                font-size: 15px;
                text-align: center;
                &:hover{
                    color: $theme-black;
                    border: 2px solid $theme-black;
                    background: transparent;
                }
            }
        }
    }

    .close-nav{
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid $theme-white;
        @include size(26px, 26px);
        line-height: 1.5;
    }
}

/*** Mobile Nav Button ***/

.mobile-nav-btn {
    display: none;
    top: 8%;
    height: 30px;
    padding: 6px 7px;
    border-radius: 4px;
    right: 5%;
    z-index: 100;
    cursor: pointer;
    @include transition(0.6s);
    z-index: 14;
	position: fixed;
    z-index: 9999;
    @media (max-width: 991px){
        display: block;
    }
    span {
        width: 22px;
        height: 2px;
        background-color: #b22828;
        display: block;
        margin-bottom: 6px;
        
        position: relative;
        top: 8px;
        right: 0;
        @include transition(0.2s);
        position: relative;
        top: 8px;
    }
    &:active {
        transition: 0;
    }
    span {
        &:before, &:after {
            display: block;
            background-color: #b22828;
            height: 2px;
            width: 22px;
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: .28571rem center;
            transform-origin: .28571rem center;
            right: 0;
            margin: 0 auto;
        }
    }
    .lines {
        &:before {
            top: 6px;
        }
        &:after {
            top: -6px;
        }
    }

    &.active {
		right: 80%;
        top: 0px;

        .lines {
            @include transition(background .3s 0 ease);
            background: transparent;
            &:before, &:after {
                @include transition(top .3s ease,-webkit-transform .3s .5s ease);
                top: 0;
            }
            &:before {
                @include transform(rotate3d(0, 0, 1, 45deg));
            }
            &:after {
                @include transform(rotate3d(0, 0, 1, -45deg));
            }
        }
    }
    .lines {
        @include transition(background .3s .5s ease);
        &:before, &:after {
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            transition: top .3s .6s ease,-webkit-transform .3s ease;
            transition: top .3s .6s ease,transform .3s ease;
        }
    }
}