.brdr-left{border-left:1px solid #e2e2e2;}

.morecontent span {
    display: none;
    @include transition(0.5s);
    
    // &:focus{
    // 	color:#fff;
    // }
}
.morelink {
	@include transition(0.5s);
    display: inline-block;
    position: relative;
    top: 20px;
    color: #fff;
    &:hover{
    border:1px solid #0b5182;
    background-color:transparent;
    color:#0b5182;
    }
    &:focus{
     color:#fff;
         &:hover{
         border:1px solid #0b5182;
         background-color:transparent;
         color:#0b5182;
         }
    }
   
}