
@media screen and (max-width: 1400px) and (min-width: 1201px) {
	.featured-agency figure{    margin-right: 5px; margin-bottom: 5px;padding:0;	}
	.find-property-city .second li:last-child img{
		width: 240px;
	    height: 350px;
	}
	.find-property-city .second li:first-child img{
		width: 240px;
	    height: 350px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
	.respoi .container{
		    width: 1140px;
	}
	
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
	.second-banner.buy .container{
		width:100%;
	}
	.project-detail .nopadd-left{padding-left:15px !important; }
	.project-detail .nopadd-right{padding-right:15px !important; }

	 .login-main .container{
		width:100%;	
	}
	.contact-box .head p span{left:40px;}
	.contact-box .head p span.offic{left:55px;}
	.contact-box .head p span.minfo{left:-5px;}
	.contact-box .content p.fs-13{font-size:12px;}
	.contact-box .content .det.off li{    padding-right: 30px;}
	.buto span.blue{left:22%;}
	.contact-box .content.det3 form.c-form textarea{min-height:110px;	}
	.premium-agencies ul.paik li{
		padding: 0px 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	    width: 99px;
	}
	.pre-box.three .heading-main.small-2:after{
		width:65%;
	}
	.pre-box.three{
		padding:45px 60px;
	}
	.premium-agencies ul.paik li img{
		width:90%;margin: auto;
	}
	.roommate .shred-box figure img{
		width: 250px;
	    height: 350px;
	}

	header .container{
		width:95%;
		max-width:100%;
	}
	.property-detail{min-height:260px;overflow:hidden;	}
	.property-detail .middle-detail .bottom span:last-child{
		font-size:9px;
	}
	.property-detail .right-detail ul li{padding:5px;}
	.property-detail .right-detail h4{font-size:18px;padding-bottom:2px;}
	header.primary{    background-position-x: 45% !important;}
	header.primary nav.primary .list-left li a{font-size:10px;}
	header.primary nav.secondary ul li a{font-size:10px;}
	header.primary nav.secondary .btn-secondary{margin-left: 5px;padding: 4px 2px 4px 0px;}
	header.primary nav.primary .list-left li{padding: 0px 10px;}
	// header.primary nav.primary .login-panel li:first-child a span{color:$theme-secondary;}
	header.primary nav.secondary{margin-top:20px;}
	.second-banner{
		background-position: top;
		background-position-x: 140%;
	}
	.heading-main:after{width:28%;}
	.heading-main.small:after{width:65%;}
	.heading-main.small-2:after{width:55%;}
	.heading-main.v-small:after{width:12%;}
	.heading-main.large:after{width: 60%; right: 10px;}
	.find-property-city .second li:last-child img{
		width: 220px;
	    height: 289px;
	}
	.btn-submit:before{content:'';}
	header.primary nav.primary .login-panel li{padding: 0px 2px;}
	header.primary nav.primary .login-panel{    margin-left: 110px;}
	header.primary nav.primary .login-panel li a{font-size: 10px;}
	.super-banner .form-section .middle-form .top p{font-size:12px;}
	.super-banner .form-section .middle-form .top ul li{    padding: 0px 10px;}
	.find-property-city .second li .detail-btn{font-size: 10px;padding: 4px;}
	.find-property-city .second li p{font-size:16px;}
	.find-property-city .second li:first-child img{
		width: 220px;
	    height: 289px;
	}
	.property-box{margin-right:5px;    min-height: 350px;}
	.property-box .foot ul li a{font-size:8px;}
	.property-box .content .list1 li{font-size:8px;}
	.property-box .imge{    margin-top: 8px;}
	.featured-agency figure{    margin-right: 3px; margin-bottom: 3px;padding:0;	}
	.blogs .right .right-head{font-size:20px;}
	.blogs .mains{width:90%;}
	.blogs .our-blog:after{right:40px;}
	footer.primary ul.first li{font-size:10px;margin-bottom:15px;}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.contact-box{
		min-height: 470px;
	    margin-bottom: 20px;
	    margin-right: 15px;
	}
	.property-detail{min-height:260px;overflow:hidden;	}
	.property-detail .right-detail ul li{padding:5px;}
	.property-detail .right-detail h4{font-size:18px;padding-bottom:2px;}
	.property-detail .middle-detail .bottom span:last-child{
		font-size:9px;
	}
	.second-banner{
		background-position: top;
		background-position-x: 210%;
	}
	.soc-big-buttons{
		text-align: center;
		a{
			img{    display: inline-block;}
		}
	}
	.roommate .shred-box .content{
		width: 45%;
		border-right: none;
	}

}
@media screen and (max-width: 767px) and (min-width: 536px) {
	.roommate .shred-box .content{
		// width: 45%;
		border-right: none;
	}
	.property-detail{min-height:260px;overflow:hidden;	}
}
@media screen and (max-width: 535px) and (min-width: 320px) {
	.featured-agency figure{    margin-right: 3px; margin-bottom: 3px;padding:0;	}
}