
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$base-font-family		:   'google-font', sans-serif !default; 
$heading-font-family	:   'google-font', sans-serif !default; 
// $heading-font-family	:   'Rokkitt', serif !default;

.ff-tertiary{
	font-family: 'Open Sans', sans-serif;	
}
.fs-30{	font-size:30px;}
.fs-28{	font-size:28px;}
.fs-17{	font-size:17px;}
.fs-11{	font-size:11px;}

.fc-yellow{color:#fdb74e;}

$base-line-height		: 	1.5;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$base-font-size			: 	14px !default;
$font-size-h1			: 	52px;
$font-size-h2			: 	40px;
$font-size-h3			: 	32px;
$font-size-h4			: 	26px;
$font-size-h5			: 	22px;
$font-size-h6			: 	20px;

$font-size-xsmall		: 	10px;
$font-size-small		: 	12px;
$font-size-medium		: 	16px;
$font-size-large		: 	18px;
$font-size-pricing		: 	34px;
$font-size-p-figure		: 	40px;


$font-weight-black		: 	900;
$font-weight-bold		: 	700;
$font-weight-semi-bold	: 	600;
$font-weight-medium		: 	500;
$font-weight-normal		: 	400;
$font-weight-light		: 	300;
$font-weight-thin		: 	100;


//== Color Variation
//
//## Text color, Background color, Border color.

$theme-default	: 	#333333;
$theme-white	: 	#ffffff;
$theme-off-white	: 	#f7f7f7;
$theme-black	: 	#000000;
$theme-nblack	: 	#2a2a2a;
$theme-grey		: 	#666666;
$theme-dgrey	: 	#585858;
$theme-lg-grey	: 	#949494;
$theme-light-grey	: 	#949494;
$theme-light-grey1	: 	#e5e5e5;
$theme-light-grey2	: 	#eff3f5;
$theme-new-grey	: 	#424242;

// Theme Colors
$theme-primary	: 	#ef4523;
$theme-secondary: 	#073555;

$link-color		: 	#333333;
$link-grey		: 	#bec0c1;


//== Sprite Path
//

$sprite-image			: 	"sprite.png";
$media-basepath			: 	"../images";
$full-path				: 	"#{$media-basepath}/#{$sprite-image}";


// // Icon Fonts Path
// $icomoon-font-path: "/assets/icon-fonts/fonts" !default;