@font-face {
  font-family: 'google-font';
    src:  url('fonts/google-sans/GoogleSans-Bold.ttf');
    src:  url('fonts/google-sans/GoogleSans-BoldItalic.ttf');
    src:  url('fonts/google-sans/GoogleSans-Regular.ttf');
}



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4x8ri');
  src:  url('fonts/icomoon.eot?4x8ri#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4x8ri') format('truetype'),
    url('fonts/icomoon.woff?4x8ri') format('woff'),
    url('fonts/icomoon.svg?4x8ri#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bathroom:before {
  content: "\e9cc";
}
.icon-glazed:before {
  content: "\e9cb";
}
.icon-kanal:before {
  content: "\e9ca";
}
.icon-hospital:before {
  content: "\e9c9";
}
.icon-flash-2:before {
  content: "\e9c8";
}
.icon-icon-warning:before {
  content: "\e9c7";
}
.icon-restaurant:before {
  content: "\e9b8";
}
.icon-price-tag1:before {
  content: "\e9b9";
}
.icon-area:before {
  content: "\e9ba";
}
.icon-cctv:before {
  content: "\e9bb";
}
.icon-security-staff:before {
  content: "\e9bc";
}
.icon-maintenance-staff:before {
  content: "\e9bd";
}
.icon-university:before {
  content: "\e9be";
}
.icon-bus:before {
  content: "\e9bf";
}
.icon-road:before {
  content: "\e9c0";
}
.icon-sui-gas:before {
  content: "\e9c1";
}
.icon-tap:before {
  content: "\e9c2";
}
.icon-flash:before {
  content: "\e9c3";
}
.icon-sewerage:before {
  content: "\e9c4";
}
.icon-electric-meter:before {
  content: "\e9c5";
}
.icon-marketing:before {
  content: "\e9c6";
}
.icon-icon-71:before {
  content: "\e9b3";
}
.icon-icon-70:before {
  content: "\e9b4";
}
.icon-icon-69:before {
  content: "\e9b5";
}
.icon-icon-68:before {
  content: "\e9b6";
}
.icon-icon-67:before {
  content: "\e9b7";
}
.icon-icon-66:before {
  content: "\e9ae";
}
.icon-icon-65:before {
  content: "\e9af";
}
.icon-icon-64:before {
  content: "\e9b0";
}
.icon-icon-63:before {
  content: "\e9b1";
}
.icon-icon-62:before {
  content: "\e9b2";
}
.icon-icon-60:before {
  content: "\e9ac";
}
.icon-icon-59:before {
  content: "\e9ad";
}
.icon-icon-58:before {
  content: "\e9a8";
}
.icon-icon-57:before {
  content: "\e9a7";
}
.icon-icon-56:before {
  content: "\e9a5";
}
.icon-icon-55:before {
  content: "\e9a6";
}
.icon-icon-54:before {
  content: "\e9a0";
}
.icon-icon-53:before {
  content: "\e9a1";
}
.icon-icon-52:before {
  content: "\e9a2";
}
.icon-icon-511:before {
  content: "\e9a3";
}
.icon-icon-50:before {
  content: "\e9a4";
}
.icon-icon-49:before {
  content: "\e99f";
}
.icon-icon-48:before {
  content: "\e99e";
}
.icon-icon-47:before {
  content: "\e99d";
}
.icon-icon-46:before {
  content: "\e99c";
}
.icon-icon-45:before {
  content: "\e996";
}
.icon-icon-37:before {
  content: "\e97e";
}
.icon-icon-38:before {
  content: "\e97f";
}
.icon-icon-39:before {
  content: "\e980";
}
.icon-icon-40:before {
  content: "\e981";
}
.icon-icon-41:before {
  content: "\e982";
}
.icon-icon-42:before {
  content: "\e983";
}
.icon-icon-43:before {
  content: "\e984";
}
.icon-icon-44:before {
  content: "\e985";
}
.icon-icon11:before {
  content: "\e952";
}
.icon-icon21:before {
  content: "\e953";
}
.icon-icon31:before {
  content: "\e954";
}
.icon-icon41:before {
  content: "\e955";
}
.icon-icon-51:before {
  content: "\e956";
}
.icon-icon-6:before {
  content: "\e957";
}
.icon-icon-7:before {
  content: "\e958";
}
.icon-icon-8:before {
  content: "\e959";
}
.icon-icon-9:before {
  content: "\e95a";
}
.icon-icon-10:before {
  content: "\e95b";
}
.icon-icon-11:before {
  content: "\e95c";
}
.icon-icon-12:before {
  content: "\e95d";
}
.icon-icon-13:before {
  content: "\e95e";
}
.icon-icon-14:before {
  content: "\e95f";
}
.icon-icon-15:before {
  content: "\e960";
}
.icon-icon-16:before {
  content: "\e961";
}
.icon-icon-17:before {
  content: "\e962";
}
.icon-icon-18:before {
  content: "\e963";
}
.icon-icon-19:before {
  content: "\e964";
}
.icon-icon-20:before {
  content: "\e965";
}
.icon-icon-21:before {
  content: "\e966";
}
.icon-icon-22:before {
  content: "\e967";
}
.icon-icon-23:before {
  content: "\e968";
}
.icon-icon-24:before {
  content: "\e969";
}
.icon-icon-25:before {
  content: "\e96a";
}
.icon-icon-26:before {
  content: "\e96b";
}
.icon-icon-27:before {
  content: "\e96c";
}
.icon-icon-28:before {
  content: "\e96d";
}
.icon-icon-29:before {
  content: "\e96e";
}
.icon-icon-30:before {
  content: "\e96f";
}
.icon-icon-31:before {
  content: "\e970";
}
.icon-icon-32:before {
  content: "\e971";
}
.icon-icon-33:before {
  content: "\e972";
}
.icon-icon-34:before {
  content: "\e973";
}
.icon-icon-35:before {
  content: "\e974";
}
.icon-icon-5:before {
  content: "\e941";
}
.icon-icon3:before {
  content: "\e93d";
}
.icon-icon4:before {
  content: "\e93e";
}
.icon-icon2:before {
  content: "\e93f";
}
.icon-icon1:before {
  content: "\e940";
}
.icon-phone-call:before {
  content: "\e997";
}
.icon-phone2:before {
  content: "\e998";
}
.icon-messages:before {
  content: "\e989";
}
.icon-phone_in_talk:before {
  content: "\e98a";
}
.icon-keyboard_arrow_up:before {
  content: "\e98b";
}
.icon-keyboard_arrow_right:before {
  content: "\e98c";
}
.icon-keyboard_arrow_left:before {
  content: "\e98d";
}
.icon-keyboard_arrow_down:before {
  content: "\e98e";
}
.icon-camera3:before {
  content: "\e942";
}
.icon-person_outline:before {
  content: "\e925";
}
.icon-person:before {
  content: "\e926";
}
.icon-external-link:before {
  content: "\e943";
}
.icon-plus1:before {
  content: "\e927";
}
.icon-user1:before {
  content: "\e928";
}
.icon-tag:before {
  content: "\e999";
}
.icon-price:before {
  content: "\e999";
}
.icon-pinterest:before {
  content: "\e9a9";
}
.icon-brand:before {
  content: "\e9a9";
}
.icon-social:before {
  content: "\e9a9";
}
.icon-pinterest1:before {
  content: "\e9aa";
}
.icon-brand3:before {
  content: "\e9aa";
}
.icon-social3:before {
  content: "\e9aa";
}
.icon-youtube:before {
  content: "\e9ab";
}
.icon-brand1:before {
  content: "\e9ab";
}
.icon-social1:before {
  content: "\e9ab";
}
.icon-price-tag:before {
  content: "\e99a";
}
.icon-connection:before {
  content: "\e98f";
}
.icon-wifi1:before {
  content: "\e98f";
}
.icon-wave:before {
  content: "\e98f";
}
.icon-circle-down:before {
  content: "\e990";
}
.icon-down:before {
  content: "\e990";
}
.icon-circle-bottom:before {
  content: "\e990";
}
.icon-arrow:before {
  content: "\e990";
}
.icon-circle-right:before {
  content: "\e991";
}
.icon-right:before {
  content: "\e991";
}
.icon-circle-next:before {
  content: "\e991";
}
.icon-arrow1:before {
  content: "\e991";
}
.icon-circle-up:before {
  content: "\e992";
}
.icon-up:before {
  content: "\e992";
}
.icon-circle-top:before {
  content: "\e992";
}
.icon-arrow2:before {
  content: "\e992";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e900";
}
.icon-location3:before {
  content: "\e944";
}
.icon-map1:before {
  content: "\e944";
}
.icon-compass:before {
  content: "\e944";
}
.icon-direction:before {
  content: "\e944";
}
.icon-skype:before {
  content: "\e901";
}
.icon-social11:before {
  content: "\e901";
}
.icon-plus2:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e902";
}
.icon-sum:before {
  content: "\e902";
}
.icon-user2:before {
  content: "\e903";
}
.icon-profile2:before {
  content: "\e903";
}
.icon-avatar:before {
  content: "\e903";
}
.icon-head:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e94e";
}
.icon-camera4:before {
  content: "\e945";
}
.icon-photo1:before {
  content: "\e945";
}
.icon-picture:before {
  content: "\e945";
}
.icon-image1:before {
  content: "\e945";
}
.icon-location5:before {
  content: "\e946";
}
.icon-map-marker2:before {
  content: "\e946";
}
.icon-pin2:before {
  content: "\e946";
}
.icon-share:before {
  content: "\e947";
}
.icon-out:before {
  content: "\e947";
}
.icon-external:before {
  content: "\e947";
}
.icon-outside:before {
  content: "\e947";
}
.icon-location4:before {
  content: "\e948";
}
.icon-map-marker1:before {
  content: "\e948";
}
.icon-pin1:before {
  content: "\e948";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-brand2:before {
  content: "\e904";
}
.icon-social2:before {
  content: "\e904";
}
.icon-linkedin1:before {
  content: "\e905";
}
.icon-brand11:before {
  content: "\e905";
}
.icon-social21:before {
  content: "\e905";
}
.icon-youtube1:before {
  content: "\e906";
}
.icon-brand21:before {
  content: "\e906";
}
.icon-social31:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-brand31:before {
  content: "\e907";
}
.icon-tweet:before {
  content: "\e907";
}
.icon-social4:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e908";
}
.icon-brand4:before {
  content: "\e908";
}
.icon-social5:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-brand5:before {
  content: "\e909";
}
.icon-social6:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-brand6:before {
  content: "\e90a";
}
.icon-social7:before {
  content: "\e90a";
}
.icon-google-plus1:before {
  content: "\e90b";
}
.icon-brand7:before {
  content: "\e90b";
}
.icon-social8:before {
  content: "\e90b";
}
.icon-mobile1:before {
  content: "\e90c";
}
.icon-cell-phone:before {
  content: "\e90c";
}
.icon-handheld:before {
  content: "\e90c";
}
.icon-tablet1:before {
  content: "\e90c";
}
.icon-phablet:before {
  content: "\e90c";
}
.icon-mobile2:before {
  content: "\e90d";
}
.icon-cell-phone1:before {
  content: "\e90d";
}
.icon-handheld1:before {
  content: "\e90d";
}
.icon-phone-hang-up:before {
  content: "\e90e";
}
.icon-telephone:before {
  content: "\e90e";
}
.icon-contact2:before {
  content: "\e90e";
}
.icon-support:before {
  content: "\e90e";
}
.icon-call:before {
  content: "\e90e";
}
.icon-phone21:before {
  content: "\e90f";
}
.icon-telephone1:before {
  content: "\e90f";
}
.icon-contact3:before {
  content: "\e90f";
}
.icon-support1:before {
  content: "\e90f";
}
.icon-call1:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e910";
}
.icon-subtract:before {
  content: "\e910";
}
.icon-minimize:before {
  content: "\e910";
}
.icon-line:before {
  content: "\e910";
}
.icon-profile:before {
  content: "\e911";
}
.icon-file:before {
  content: "\e911";
}
.icon-document:before {
  content: "\e911";
}
.icon-page:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e911";
}
.icon-paper:before {
  content: "\e911";
}
.icon-file-text:before {
  content: "\e912";
}
.icon-file1:before {
  content: "\e912";
}
.icon-document1:before {
  content: "\e912";
}
.icon-list:before {
  content: "\e912";
}
.icon-paper1:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e913";
}
.icon-house:before {
  content: "\e913";
}
.icon-tag1:before {
  content: "\e99b";
}
.icon-map-pin:before {
  content: "\e949";
}
.icon-pin:before {
  content: "\e949";
}
.icon-location:before {
  content: "\e949";
}
.icon-map:before {
  content: "\e914";
}
.icon-location1:before {
  content: "\e914";
}
.icon-calendar1:before {
  content: "\e94f";
}
.icon-camera:before {
  content: "\e94a";
}
.icon-photo:before {
  content: "\e94a";
}
.icon-image:before {
  content: "\e94a";
}
.icon-phone:before {
  content: "\e915";
}
.icon-tablet:before {
  content: "\e915";
}
.icon-mobile:before {
  content: "\e915";
}
.icon-paperplane:before {
  content: "\e916";
}
.icon-send:before {
  content: "\e916";
}
.icon-flight:before {
  content: "\e916";
}
.icon-email1:before {
  content: "\e916";
}
.icon-heart:before {
  content: "\e917";
}
.icon-love:before {
  content: "\e917";
}
.icon-like:before {
  content: "\e917";
}
.icon-printer-text:before {
  content: "\e975";
}
.icon-printer-text1:before {
  content: "\e976";
}
.icon-printer-text2:before {
  content: "\e977";
}
.icon-printer1:before {
  content: "\e978";
}
.icon-printer2:before {
  content: "\e979";
}
.icon-search:before {
  content: "\e918";
}
.icon-search2:before {
  content: "\e919";
}
.icon-search-minus:before {
  content: "\e91a";
}
.icon-search-minus1:before {
  content: "\e91b";
}
.icon-printer:before {
  content: "\e97a";
}
.icon-envelope1:before {
  content: "\e91c";
}
.icon-email2:before {
  content: "\e91c";
}
.icon-mail1:before {
  content: "\e91c";
}
.icon-letter:before {
  content: "\e91c";
}
.icon-contact1:before {
  content: "\e91c";
}
.icon-chat:before {
  content: "\e91d";
}
.icon-comments:before {
  content: "\e91d";
}
.icon-bubble:before {
  content: "\e91d";
}
.icon-talk:before {
  content: "\e91d";
}
.icon-chat1:before {
  content: "\e91e";
}
.icon-comments1:before {
  content: "\e91e";
}
.icon-bubble1:before {
  content: "\e91e";
}
.icon-talk1:before {
  content: "\e91e";
}
.icon-profile1:before {
  content: "\e91f";
}
.icon-card:before {
  content: "\e91f";
}
.icon-id:before {
  content: "\e91f";
}
.icon-vcard:before {
  content: "\e91f";
}
.icon-file2:before {
  content: "\e920";
}
.icon-list1:before {
  content: "\e920";
}
.icon-dot-single:before {
  content: "\e993";
}
.icon-add-solid:before {
  content: "\e987";
}
.icon-add-outline:before {
  content: "\e988";
}
.icon-bookmark:before {
  content: "\e97b";
}
.icon-camera1:before {
  content: "\e94b";
}
.icon-minus-solid:before {
  content: "\e921";
}
.icon-minus-outline:before {
  content: "\e922";
}
.icon-calendar2:before {
  content: "\e950";
}
.icon-location2:before {
  content: "\e923";
}
.icon-plus:before {
  content: "\e924";
}
.icon-star-o:before {
  content: "\e994";
}
.icon-star:before {
  content: "\e995";
}
.icon-wifi:before {
  content: "\e986";
}
.icon-bookmark-o:before {
  content: "\e97c";
}
.icon-bookmark1:before {
  content: "\e97d";
}
.icon-calendar3:before {
  content: "\e951";
}
.icon-camera2:before {
  content: "\e94c";
}
.icon-external-link1:before {
  content: "\e94d";
}
.icon-caret-right:before {
  content: "\e929";
}
.icon-caret-left:before {
  content: "\e92a";
}
.icon-caret-up:before {
  content: "\e92b";
}
.icon-caret-down:before {
  content: "\e92c";
}
.icon-envelope-o:before {
  content: "\e92d";
}
.icon-envelope2:before {
  content: "\e92e";
}
.icon-map-marker:before {
  content: "\e92f";
}
.icon-phone1:before {
  content: "\e930";
}
.icon-paper-plane-o:before {
  content: "\e931";
}
.icon-send-o:before {
  content: "\e931";
}
.icon-paper-plane:before {
  content: "\e932";
}
.icon-send1:before {
  content: "\e932";
}
.icon-heart-o:before {
  content: "\e933";
}
.icon-heart1:before {
  content: "\e934";
}
.icon-search1:before {
  content: "\e935";
}
.icon-minus1:before {
  content: "\e936";
}
.icon-search-plus:before {
  content: "\e937";
}
.icon-google-plus:before {
  content: "\e938";
}
.icon-plus-square:before {
  content: "\e939";
}
.icon-plus-circle:before {
  content: "\e93a";
}
.icon-plus3:before {
  content: "\e93b";
}
.icon-home1:before {
  content: "\e93c";
}
